body {
  position: relative;
}
:root {
  --page: #ffffff;
  --page1: #00d7e2;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00d7e2;
  --text: black;
  --text1: black;
  --container: #00d7e2;
  --container1: white;
  --button: #334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
.dark-theme {
  --page: transparent;
  --page1: transparent;
  --mast: #1b2a35;
  --primary: #00d7e2;
  --secondary: #1b2a35;
  --text: #ffffff;
  --text1: #00d7e2;
  --container: #334553;
  --container1: #334553;
  --button: #00d7e2;
}
.container {
  margin-top: 50px;
}
.mali {
  color: var(--text1);
}
.masthead {
  background-size: cover;
  min-height: 100vh;
  margin: 0% !important;
  padding: 0% !important;
  background-color: var(--mast);
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: var(--secondary);
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  color: var(--text1);
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
  background-color: var(--secondary);
}
.dropdown-menu:hover {
  display: block;
}
.nav-link:hover {
  color: black !important;
  background-color: var(--primary);
  border-radius: 10px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--primary);
  border-radius: 10px;
}
.nav-link {
  color: var(--text1) !important;
}
.nav-link.active {
  width: 101%;
  color: black !important;
  background-color: var(--primary);
  border-radius: 10px;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.dropdown:hover {
  border-radius: 10px;
}
.navbar {
  padding: 0% !important;
  margin: 0% !important;
}
.para {
  background-color: #ffffff;
  width: 95% !important;
}
.para2 {
  background-color: #ffffff;
  width: 95%;
}
.position {
  margin-left: 400px;
}
.page-footer {
  background-color: #00c2d6;
}
.page-footer .ul .li .a:target {
  text-decoration: #000000;
}
.con1 {
  width: 557px;
  height: 563px;
  background-color: var(--container1);
  border-radius: 20px;
}
.img-con {
  width: 100%;
}
.container-fluid {
  margin: 0%;
  padding: 0%;
}
.con-faq {
  width: 100%;
}
h1 {
  color: var(--text1) !important;
  font-family: "Monserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
p {
  color: var(--text1) !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.tech {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#submit {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 455;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: var(--text1) !important;
  background: var(--secondary);
  border-radius: 15px;
  width: 300px;
  border-color: #00d7e2 !important;
}
.error {
  border: 1px solid red;
  background: #ececec;
}
.con0 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #00c2d6;
}
.mh1 {
  background-size: cover;
  background-color: #fdf6ec;
  min-height: 400vh;
}
.tag1 {
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
}
.tag2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
  font-size: 29px;
}
.aboutus {
  color: var(--text1);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 45px;
}
#aboutus {
  border-top: 5px solid #00d7e2;
  border-bottom: 5px solid #00d7e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mast) !important;
  padding-top: 150px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 455;
}
.tix {
  padding: 10px;
  text-align: justify;
  line-height: 25px;
  color: black !important;
}
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}
.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}
.search .bi-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.wwdi {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}
.search .btn-search {
  background-color: #00c2d6;
  border-radius: 14px;
}
b {
  font-size: 25px;
}
#contactus {
  background-color: var(--mast);
  padding-top: 10px;
}
.contactus {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.faq {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mo {
  color: var(--text1);
}
.accordion-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 455;
  font-size: 20px;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 755;
}
.systems {
  font-family: "Montserrat", sans-serif;
  font-weight: 755;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 755;
}
#aboutus {
  background: #fdf6ec;
}
.btn-sm {
  border: 2px solid var(--text1);
  color: var(--text1) !important;
  background-color: var(--page);
  border-radius: 10px;
}
.btn-sm:hover {
  background-color: rgba(87, 84, 84, 0.521);
}
h3 {
  height: 50px;
  color: var(--text);
  background-color: var(--container);
}
.border-success {
  background: #ececec;
}
#concern {
  width: 100%;
  background: #ececec;
  border: 0;
}
.collapsed {
  border: 3px solid var(--primary);
}
.search .btn-search1 {
  background-color: #00c2d6;
  border-radius: 14px;
}
.text-dark {
  text-decoration: none;
}
.dev-footer {
  margin-left: 1000px;
}
.flogo {
  margin: 10px;
  margin-left: 20px;
  width: 100px;
}
.search-input {
  border-radius: 14px;
}
.swits {
  top: 60px;
  position: sticky;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
}
.toggle-switch {
  right: 10px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: absolute;
  width: 75px;
}

.lab {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
.bg2-home {
  margin-top: -200px;
  width: 700px;
}
#faq {
  background-color: var(--mast);
}
@media screen and (max-width: 1280px) {
  .flogo {
    margin: 0px;
    margin-left: 10px;
    width: 100px;
    height: 80px;
  }
  .bg2-home {
    margin-top: -100px;
    width: 500px;
    height: 600px;
  }
  .tag2 {
    font-size: 25px;
  }
  .search {
    width: 100%;
  }
  .tag1 {
    font-size: 58px;
  }
  .para {
    margin: 0 !important;
    width: 100%;
  }
  .para2 {
    margin: 0% !important;
    width: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .con1 {
    width: 60%;
    height: 100%;
  }
  #concern {
    width: 100%;
  }
  .div3 {
    display: none !important;
  }
  .send-message {
    width: 50% !important;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .bg2-home {
    margin-top: 0;
    width: 300px;
    height: 250px;
  }
  .tag1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .bg2-home {
    margin-left: 0 !important;
    margin-top: -90px;
    width: 300px;
    height: 400px;
    margin-right: 5px;
  }
  .tag2 {
    font-size: 15px;
  }
  .con-home {
    max-width: 100% !important;
    margin: 10px;
  }
  .tag1 {
    font-size: 37px;
    margin-left: 0% !important;
    margin-bottom: 20px !important;
  }
  .search button {
    width: 70px;
  }
  .masthead {
    min-height: 40vh !important;
  }
  .con1 {
    width: 80%;
    margin: 0% !important;
  }
  .div2 {
    margin-right: 0% !important;
  }
}
@media screen and (max-width: 570px) {
  .search {
    position: absolute;
    width: 90%;
  }
  .search-input {
    height: 50px !important;
  }
  .con-home {
    max-width: 100% !important;
    margin: 0px;
  }
  .btn-search2 {
    height: 40px !important;
  }
  .browse {
    position: absolute;
    margin-left: 135px;
    margin-top: 50px;
  }
  .tag1 {
    font-size: 26px;
    margin-left: 0% !important;
    margin-top: 20px !important;
  }
  .tag2 {
    font-size: 13px;
  }
  .bg2-home {
    margin-top: 15px;
    width: 200px;
    height: 150px;
  }
  .nav-link {
    margin-left: 170px !important;
    text-align: center !important;
    width: 150px !important;
  }
  .dropdown {
    width: 100% !important;
  }
  .dropdown-menu {
    width: 100% !important;
  }
  .bi-search1 {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .browse {
    margin-left: 95px;
    top: 620px;
  }
  .bg2-home {
    position: absolute;
    left: 30px;
    top: 350px;
    width: 280px;
    height: 270px;
    margin-bottom: 20px;
  }
  .masthead {
    min-height: 100vh !important;
  }
  .search {
    top: 650px;
    margin-right: 30px !important;
    height: 40px !important;
  }
  .search-input {
    height: 40px !important;
  }
  .con1 {
    width: 95%;
    margin: 0% !important;
  }
  .browse {
    margin-top: 110px;
  }
  .div2 {
    margin-right: 0% !important;
  }
  .con-text {
    width: 95%;
    margin: 10px;
  }
  .tag3 {
    margin: 0% !important;
  }
  .contact-us {
    text-align: start !important;
  }
  .con-img {
    margin: 0% !important;
    justify-content: left !important;
  }
  .nav-link {
    margin-left: 120px !important;
    text-align: center !important;
    width: 150px !important;
  }
  .dropdown {
    width: 100% !important;
  }
  .dropdown-menu {
    width: 100% !important;
  }
  .tag1 {
    padding-top: 20px !important;
  }
}

/*/Colors  #EDBEA4 #FDF6EC #00C2D6 #FDF6EC #FFFFFF/*/
