body{
    position: relative;
} .container{
margin-top: 50px;
}

.masthead{
    background-size: cover;
    min-height: 100vh;
    background-color: #00C2D6;
 
}.btn-outline{
    background-color: #00C2D6;
    
}.navbar-light{
    background-color: #FFFFFF;
    margin:0%;
}.navbar-expand-lg{
    height:100px;
    width:100%;
    margin-left: 5px;
    
}.btn-outline-secondary{
    background-color: #00C2D6;
    color: white;
   
    border: 0;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    
    
}.para{
    background-color: #FFFFFF;
}.para2{
    background-color: #FFFFFF;
    
}.position{
    margin-left: 400px;
}.page-footer{
    background-color: #00C2D6;

}.con1{
    width: 557px;
    height: 563px;
    background-color: #FFFFFF;
    position: relative;
    top:30px;
}h1{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}#submit{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FDF6EC;
    background: #00C2D6;
    border-radius: 10px;
}.error{
    border: 1px solid red;
}.con0{
    min-height: 100vh;
}.mh1{
    background-size: cover;
    background-color: #FDF6EC;
    min-height: 400vh;
 
    
}.tag1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: 700;
    font-size: 75px;
    
}.tag2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}.aboutus{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 45px;
}
.search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  
}

.search input{

 height: 60px;
 text-indent: 25px;
 border: 2px solid #d6d4d4;


}


.search input:focus{

 box-shadow: none;
 border: 2px solid blue;


}

.search .bi-search{

 position: absolute;
 top: 20px;
 left: 16px;

}

.search button{

 position: absolute;
 top: 5px;
 right: 5px;
 height: 50px;
 width: 110px;
 background: blue;

}


/*/Colors  #EDBEA4 #FDF6EC #00C2D6 #FDF6EC #FFFFFF/*/