.masthead {
  background-size: cover;
  min-height: 2000px;
  width: 100%;
  background-color: var(--mast);
}
:root {
  --page:#ffffff;
  --page1:#00D7E2;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#00D7E2;
  --container1:white;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
.dark-theme{
  --page:transparent;
  --page1:transparent;
  --mast: #1b2a35;
  --primary: #00D7E2;
  --secondary: #1b2a35;
  --text:#ffffff;
  --text1: #00D7E2;
  --container:#334553;
  --container1:#50677B;
  --button:#00D7E2;
}
.swits{
  top: 100px;
  position:absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center !important;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.toggle-switch {
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  color:  transparent;
  border-color: transparent;
}
.navbar-light {
  background-color: var(--secondary);
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  color: var(--text1);
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu.show{
  border: 3px solid #00D7E2;
  background-color: var(--mast);
}
.dropdown-menu:hover {
  display: block;
}
.navbar .nav-link:hover {
  color: black !important;
  background-color: var(--primary);
  border-radius: 15px;
}
.navbar-nav {
  background-color: var(--secondary);
  justify-content: space-evenly !important;
  flex-direction: row;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.nav-link {
  text-align: center !important;
  width: 100% !important;
  font-weight: 700;
  color: var(--text1) !important;
}
.nav-link.active {
  color: black !important;
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}
.para {
  background-color: #edbea4;
}
.para2 {
  background-color: #edbea4;
}
.position {
  margin-left: 400px;
}
h1 {
  position: absolute;
  width: 954px;
  height: 50px;
  left: -0px;
  top: -45px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 15px;
  line-height: 50px;
  color: var(--text1) !important;
  background: var(--container);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: var(--text) !important;
}
.needs-validation {
  margin-top: -50px;
}
label{
  color: var(--text);
}
p{
  color: var(--text1);
}
.container {
  position: relative;
  margin-left: 0px;
  width: 550px;
  height: 1600px;
  left: 59px;
  top: 200px;
  background: var(--container1);
  border-radius: 0 0 20px 20px;
}
.container input {
  width: 400px;
  height: 39px;
  left: 477px;
  top: 686px;
}
#exampleFormControlTextarea1 {
  width: 586px;
  height: 174px;
  left: 477px;
  top: 686px;
}
#SAVE-NOW {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: black;
  background: #00d7e2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  width: 160px;
  height: 45px;
  border-radius: 14px;
}
#SAVE-NOW:hover {
  background-color: #50677b;
  color: white;
}
.online-reg {
  top: 0;
  width: 100%;
  height: 600;
}
.online{
  width: 900px;
  top: 200px;
  right: 200px;
  position: absolute;
}
hr {
  border: 1px solid black;
}
.error {
  border: 1px solid red;
}
.div2 {
  background-color: #00c2d6;
}
.form-control {
  background: #ececec;
}
.item2 {
  background-color: #00c2d6;
}
#HTML {
  width: 20px;
  height: 20px;
}
#JavaScript {
  width: 20px;
  height: 20px;
}
#Python {
  width: 20px;
  height: 20px;
}
#Csharp {
  width: 20px;
  height: 20px;
}
#Cplus {
  width: 20px;
  height: 20px;
}
#PHP {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1547px) {
  .online {
    margin-left: -230px;
    margin-top: -100px;
    width: 600px !important;
  }
}
@media screen and (max-width: 1280px) {
  .online-reg{
    top: 500px;
    right: 0;
    position: absolute;
    width: 600px;
  }
  .online {
    margin-left: 0px;
    position: sticky;
    width: 100% !important; 
  }
  .masthead{
    width: 100%;
    height: 2000px;
  }
}
@media screen and (max-width: 900px) {
  .logo {
    margin-top: -10px;
  }
  .navbar-expand-lg {
    width: 769px;
  }
  .online {
    display: none;
    width: 200px !important;
    margin-top: 150px;
    margin-left: -420px;
  }
  .masthead {
    width: 88%;
  }
}
@media screen and (max-width: 786px) {
  .logo {
    margin-top: -10px;
  }
  .navbar-expand-lg {
    width: 769px;
  }
  .container {
    margin-left: 5px;
    height: 1600px;
  }
  .online {
    width: 150px !important;
    margin-top: -250px;
    margin-left: -400px;
  }
  .masthead {
    width: 100%;
    min-height: 180vh;
  }
  .navbar-toggler {
    position: relative;
    right: 20px;
  }
  .online {
    position: relative;
    bottom: 1060px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    margin-top: -10px;
  }
  .container {
    margin-left: 5px;
  }
  .online {
    width: 150px !important;
    margin-top: -250px;
    margin-left: -400px;
  }
  .masthead {
    width: 780px;
  }
}
@media screen and (max-width: 575px) {
  .logo {
    margin-top: -10px;
  }
  .navbar-expand-lg {
    width: 550px;
  }
  .container {
    margin-left: -95px;
    height: 700px;
  }
  .online {
    display: none;
    width: 150px !important;
    margin-top: -550px;
    margin-left: -580px;
  }
  .masthead {
    width: 575px;
  }
}
@media screen and (max-width: 375px) {
  .masthead {
    min-height: 270vh;
    width: 100%;
  }
  .navbar-expand-lg {
    width: 100%;
  }
  .container {
    margin: 0;
    margin-top: -20px;
    width: 90%;
    height: 1900px;
    margin-left: -40px;
  }
  .online {
    width: 110px !important;
    margin-top: -550px;
    margin-left: -750px;
  }
  .container input {
    width: 250px;
  }
  .online {
    position: relative;
    bottom: 1200px;
  }
  #experience {
    width: 250px;
  }
  .dropdown-menu.show{
    text-align: center;
    position: absolute;
    left: 0px;
    width: 60px !important;
    border: 3px solid #00D7E2;
    background-color: var(--mast);
  }
  .navbar-collapse{
    margin-top: -15px;
    left: 0;
    width: 100% !important;
  }
  .hatd{
    display: block !important;
  }
  .nav-link{
    margin: 0!important;
  }
}
