body{
  background-color: var(--mast);
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
:root {
  --mast: #ffffff;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#00D7E2;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
.dark-theme{
  --mast: #1b2a35;
  --primary: #00D7E2;
  --secondary: #1b2a35;
  --text:#ffffff;
  --text1: #00D7E2;
  --container:#334553;
}
#log{
  color: black !important;
}
.masthead {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-size: cover;
  background-color: var(--mast);
  justify-content: center;
}
.container{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.circle{
  top: 0px;
  right: 150px;
  background: var(--secondary);
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 295px;
  height: 269px;
}
.circle1{
  top: 0;
  right: -100px;
  background: var(--secondary);
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 403px;
  height: 369px;
}
.circle2{
  left: 100px;
  bottom: -100px;
  align-self: flex-end;
  background: var(--secondary);
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 295px;
  height: 269px;
}
.circle3{
  bottom: -100px;
  left: -100px;
  align-self: flex-end;
  background: var(--secondary);
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 403px;
  height: 369px;
}
.btn-outline {
  background-color: var(--secondary);
}
.navbar-light {
  background-color: var(--secondary);
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu:hover {
  display: block;
}
.dropdown-item:hover{
  color: var(--text1);
  background-color: var(--secondary) !important;
}
.navbar .nav-link:hover {
  background-color: var(--primary);
  color: black !important;
  border-radius: 15px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--primary);
  border-radius: 10px;
}
.dropdown-menu.show{
  background-color: var(--primary);
}
.nav-link {
  color: var(--text1)!important;
}
.login{
  color: black !important;
}
.nav-link.active {
  color: black !important;
  border-radius: 10px;
}
.btn-outline-secondary {
  background-color: var(--secondary);
  color: var(--primary);
  border: var(--secondary);
  border-style: outset;
}
.signup-here {
  width: 360px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: #edbea4;
  border-radius: 3px;
}
form {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
}
form label {
  display: flexbox;
  margin-left: 0px;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}
input[type="button"] {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  margin-left: 50px;
  border: none;
  background-color: black;
  color: var(--primary);
  font-size: 18px;
  border-radius: 5px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.cont1{
  position: relative;
  width: 100%;
  max-height: 800px;
  justify-content: space-between;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
.login-page {
  margin-top: 100px;
  width: 100%;
  height: 480px;
  text-align: center;
  background-color: var(--container) !important;
  padding-top: 10px;
  border-radius: 20px;
}
.ms-5{
  width: 1500px;
  height: 880px;
  margin: 0 !important;
}
.bt {
  margin-left: 45px;
  height: 50px;
  width: 155px;
  color: var(--secondary) !important;
  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn1 {
  line-height: 0.5;
}
#alogin,#alogin1 {
  align-self: flex-start;
  margin-top: 5px;
  color: var(--text1);

}
#alogin1{
  align-self: center;
}
.alog{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.c1 {
  background-color: transparent;
  position: absolute;
  margin-left: 20rem;
  margin-top: 0.2rem;
}
.c2 {
  background-color: transparent;
  position: absolute;
  margin-left: 20rem;
  margin-top: 8rem;
}

.card-title {
  position: relative;
  text-align: center;
  margin-right: 1px;
  bottom: 20px;
}
.img1 {
  margin-left: 10px;
}
.img2 {
  margin-left: 10px;
}
.icon1 {
  font-size: 2rem;
  cursor: pointer;
}
.icon {
  margin-top: 2px;
  margin-left: -45px;
  position: absolute;
}
.icon .bi-eye {
  display: none;
}
.icon.is-active .bi-eye {
  display: flex;
  margin-top: 10px;
}
.icon.is-active .bi-eye-slash {
  display: none;
}
footer {
  background-color: var(--secondary);
}
h4 {
  color: var(--primary) !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.login {
  background-color: var(--primary);
  border-radius: 10px;
}
h4 {
  color: var(--secondary);
}
h6{
  color: var(--text);
}
.username {
  background-color: #ececec;
  border-radius: 30px;
  border: 0;
  font-weight: 700;
}
#password {
  background-color: #ececec;
  border-radius: 30px;
  border: 0;
  font-weight: 700;
}
.btn1 {
  border-radius: 20px;
  border: 0;
}
a {
  color: var(--secondary);
  text-decoration: none;
}
.navbar-toggler{
  margin-top: 25px;
  margin-right: 20px;
  border: none;
  float: right;
}
.toggle-switch {
  right: 10px;
  height: 35px;
  margin-top: 20px;
  position: absolute;
  width: 75px;
}

.lab{
  position: relative;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
@media screen and (max-width:1197px) {
  .login-page{
    margin-left: -40px;
  }
  .ms-5{
    margin-top: -25px;
  }
}
@media screen and (max-width: 991px){
  .toggle-switch {
    top: 120px;
    right: 10px;
    height: 35px;
    margin-top: 20px;
    position: absolute;
    width: 75px;
  }
  .navbar-light{
    display: block;
    width: 100%;
  }
  #navbarDropdown{
    padding-right: 25px;
  }
  .nav-link{
    width: 100%;
    justify-content: center;
    
  }
  .dropdown-menu{
    text-align: center;
    align-items: center;
    border-radius: 1px;
    border: none;
    width: 100%;
    
  }
  .container{
    display: grid;
    grid-template-columns: auto;
  }
  .navbar-expand-lg{
    height: 7.1rem;
  }
  .cont1{
    justify-content: center;
  }
  .login-page{
    align-self: center;
    margin: 0;
    position: absolute;
    display: block;
    place-items: center;
    align-items: center;
    width: 400px;
    height: 480px;
    margin-left: -15px;
    box-shadow: -4px 5px 100px 1px !important;
  }
  .bg-white{
    width: 370px;
  }
  h4{
    font-size: 2rem;
  }
  h6{
    font-size: 1.2rem;
    padding-bottom: 12px;
  }
  form{
    position: relative;
  }
  #log{
    width: 100%;
    padding-right: 120px;
    
  }
}
@media (max-width: 923px) {
  #log{
    margin-left: 220px;
  }
}
@media screen and (max-width: 760px){
  .ms-5{
    margin-left: -20px !important;
  }
  .login-page{
    margin-left: -70px;
  }
}
@media screen and (min-width: 441px){
  #log{
    position: relative;
    margin-left: 50px;
  }
  .navbar{
    align-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 375px){
  .circle{
    top: 0px;
    right: 150px;
    background: var(--secondary);
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 150px;
    height: 150px;
  }
  .circle1{
    top: 0;
    right: -100px;
    background: var(--secondary);
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 250px;
    height: 250px;
  }
  .circle2{
    left: 100px;
    bottom: -100px;
    align-self: flex-end;
    background: var(--secondary);
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 150px;
    height: 150px;
  }
  .circle3{
    bottom: -100px;
    left: -100px;
    align-self: flex-end;
    background: var(--secondary);
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 250px;
    height: 250px;
  }
  .login-page{
    margin-top: 150px;
    align-self: flex-end !important;
    position: relative !important;
    width: 300px;
    height: 420px;
    margin-left: 19px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
  }
  form{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link {
    width: 230px;
  }
  .navbar-nav .nav-link {
    margin-left: 50px;
  }
  .nav-item{
    margin-left: 45px;
  }
  .dropdown-item{
    margin-left: 40px;
  }
  #alogin1{
    font-size: 13px;
    margin-top: -20px;
  }
  #alogin{
    font-size: 13px;
  }
  #log{
    margin-left: 45px;
  }
  .ms-5{
    display: none;
  }
  h4{
    font-size: 25px;
    line-height: 25px;
  }
  h6{
    margin-top: -20px;
    font-size: 13px;
  }
  .toggle-switch{
    right: 20px;
    bottom: 100px;
  }
}