.masthead{
    background-size: cover;
    background-color: #FDF6EC;
    min-height: 100vh;

}.btn-outline{
    background-color: #00C2D6;
    
}.navbar-light{
    background-color: #FFFFFF;
    margin:0%;
}.navbar-expand-lg{
    height:100px;
    width:100%;
    margin-left: 5px;
    
}.btn-outline-secondary{
    background-color: #00C2D6;
    color: white;
    border: #00C2D6;
    border-style:outset;
    

}.bg1{
    background: rgba(0, 194, 214, 0.5);;
}.bg0{
    background: #00C2D6;
}.btn1{
    background: linear-gradient(0deg, #00C2D6, #00C2D6), #00C2D6;
}span{
    cursor: pointer;
}.error{
    text-indent: 90px;
}