.masthead{
    background-size: cover;
    background-color: #FDF6EC;
    min-height: 100vh;
  
 
    
}.btn-outline{
    background-color: #00C2D6;
    
}.navbar-light{
    background-color: #FFFFFF;
    margin:0%;
}.navbar-expand-lg{
    height:100px;
    width:100%;
    margin-left: 5px;
    
}.btn-outline-secondary{
    background-color: #00C2D6;
    color: white;
    border: #00C2D6;
    border-style:outset;
    

}.bg1{
    background: rgba(0, 194, 214, 0.5);;
}.bg0{
    background: #00C2D6;
}.btn1{
    background: linear-gradient(0deg, #00C2D6, #00C2D6), #00C2D6;
}span{
    cursor: pointer;
}.icon{
    position: absolute;
    margin-top: 10px;
}
.icon .bi-eye{
    display: none;
}.icon.is-active .bi-eye{
     display: flex;
     margin-top: 10px;
}.icon.is-active .bi-eye-slash{
    display: none;

}.icon1{
    position: absolute;
    margin-top: 10px;
}
.icon1 .bi-eye{
    display: none;
}.icon1.is-active .bi-eye{
     display:flex;
     margin-top: 10px;
}.icon1.is-active .bi-eye-slash{
    display: none;

}

.modal-body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    background: rgba(0, 194, 214, 0.5);
}
#submit{
    background: #00C2D6;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}
#resetpass{
    background: #00C2D6;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}.error{
    text-indent: 40px;
}.error1{
    border: 1px solid red;
}.success{
    border: 1px solid green;
}.text1{
    text-indent: 40px;
}