body {
    background: #FDF6EC;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;

}

.masthead {
    background-size: cover;
    min-height: 150vh;
    width: 100%;
    height: 100%;

}

.search-box {

    width: 500px;
    border-style: outset;
}

.btn-outline {
    background-color: #00C2D6;

}

.navbar-light {
    background-color: #FFFFFF;

}

.navbar-expand-lg {
    width: 100%;
}

.btn-outline-secondary {
    background-color: #00C2D6;
    color: white;
    border: #00C2D6;
    border-style: outset;
}

.navbar-nav {
    position: relative;
    left: -100px;
}

.nav-link {

    border-radius: 10px;
    width: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.message {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;

}

.account {
    text-align: center;
    text-indent: -15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 250px;

}

.about {
    text-indent: 20px;
}

.account-drop {
    text-align: center;
    background-color: #372732;
    width: 250px;
}

.nav-item .dropdown-item:hover {
    background-color: #8B8383;
}

.search {
    background-color: #00C2D6;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search:hover {
    color: #554350 !important;

}

.menubar {
    background-color: #8B8383;
}

.container {
    min-height: 150vh;
    background: transparent;
}

.edit {
    background-color: #00C2D6;
    position: relative;
    left: 71.5rem;
}

.save {
    background-color: #00C2D6;
    position: relative;
    left: 71.5rem;
}

.banner {
    background-color: #00C2D6;
    width: 96%;
    height: 200px;
}

.bi-person-circle {

    position: relative;
    left: 270px;
    top: 70px;
    font-size: 180px;

}

.icon {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.name {
    position: relative;
    left: -200px;

}

.btn1 {
    position: absolute;
    background: #372732;
    border-radius: 20px;
    right: 45px;
    height: 35px;
    width: 165px;
}

.loc {
    position: relative;
    left: 820px;
    bottom: 80px;
}

.sec {
    position: relative;
    border-radius: 20px;
    bottom: -20px;
    left: 300px;
    width: 800px;
    height: 250px;
}

.exp {
    background-color: #00C2D6;
    border-radius: 20px 20px 0 0;
}

.con1 {
    background-color: rgba(0, 194, 214, 0.5);
    border-radius: 20px;
    width: 700px;
    height: 170px;
}

.hr1 {
    border: 2px solid #000000;
    position: relative;
    left: 79px;
    width: 88%;
}

.bg0 {
    background: rgba(0, 194, 214, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 400px;
    height: 150px;
}

.bg1 {
    background: rgba(0, 194, 214, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 280px;
    height: 150px;
}

.bg2 {
    background: #00C2D6;
}

.bg3 {
    background: #00C2D6;
    border-radius: 11px;
}

.bg4 {
    background: #00C2D6;
    position: relative;
    left: 500px;
    width: 300px;
    height: 50px;
}

.page-footer {
    background-color: #00C2D6;

}

.h6 {
    margin-left: 1150px;
}

.mail {
    width: 50px;
    height: 25px;
}

strong {
    font-size: 20px;
}

.company-n {
    height: 90px;
    width: 500px;
    border-radius: 15px;
    background: rgba(0, 194, 214, 0.5);
}

.column {
    margin-left: 700px;
}