html{
    --bg:#ECECEC;
    --bg-navbar:#00c2d6;
    --text-color:black;
    --bg-sidebar:#00c2d6;
    --bg-container: white;
    --text-color1:black;
    --sidebar-hover:white;
    --hover-text: #00c2d6;
    --bg-container1: #ECECEC;
    --bg-cont1: rgba(0, 215, 226, 0.5);
    --bg-cont2:#ECECEC;
    --bg-head: #00c2d6;
  }
  :root {
    --page:#ffffff;
    --mast: #ececec;
    --primary: #ffffff;
    --secondary: #00D7E2;
    --text: black;
    --text1: black;
    --container:#ffffff;
    --button:#334553;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  html[data-theme='dark']{
    --bg:#293f53;
    --bg-navbar:#182531;
    --text-color:#00c2d6;
    --bg-sidebar:#182531;
    --bg-container: #d7e8fa; 
    --text-color1:white;
    --sidebar-hover:#00D7E2;
    --hover-text: black;
    --bg-container1: #293f53;
    --bg-cont1: #00c2d6;
    --bg-cont2: #182531;
    --bg-head: #182531;
  }
  * body {
    background: var(--bg);
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .search-box {
    width: 500px;
    border-style: outset;
  }
  .btn-outline {
    background-color: #00c2d6;
  }
  .navbar-light {
    background: var(--bg-navbar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .navbar-expand-lg {
    width: 100%;
  }
  .btn-outline-secondary {
    background-color: #00c2d6;
    color: white;
    border: #00c2d6;
    border-style: outset;
  }
  .text-white{
    color: var(--text-color);
  }
  .account-drop {
    text-align: center;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
  }
  .nav-item .dropdown-item:hover {
    background-color: #8b8383;
  }
  .navbar-nav {
    position: relative;
    left: -100px;
  }
  .d-flex {
    position: relative;
    left: 20px;
  }
  .navbar-toggler{
    color: var(--text-color);
  }
  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    border-radius: 10px;
    width: 150px;
    color: var(--text-color) !important;
  }
  .message {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .account {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 250px;
  }
  .search {
    background: #00D7E2;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .search:hover {
    color: #554350 !important;
  }
  .menubar {
    background-color: #8b8383;
  }
  .image {
    position: relative;
    left: -10px;
  }
  .icon {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-radius: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #container {
    background: var(--bg-container1);
    height: 100%;
    padding-bottom: 20px;
    color: #372732;
  }
  #main-form {
    background: var(--bg-container);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px 0 30px 0;
    height: 800px;
  }
  .input-group{
    margin-left: 820px;
  }
  #form1{
    width: 300px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-radius: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #btn-info{
    background: #00D7E2;
  border: 2px solid #00D7E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }
  .btn2{
    background: #00D7E2;
    font-weight: 500;
    width: 50px;
    border: none;
    border-radius: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .body-h{
    background: #ECECEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #btn-info {
    margin-top: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #372732;
    color: black;
    border-radius: 30px;
  }
  h3 {
    background: #00c2d6;
  }
  #title-sub {
    background: var(--bg-cont1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .table-responsive{
    background: white;
  }
  td {
    height: 80px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
  }
  .job-A {
    padding: 20px;
    margin-top: -30px;
    background: var(--bg-head);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    color: var(--text-color);
  }
  .tr1 {
    height: 6rem;
    border: 3px solid var(--text-color);
    box-shadow: none;
  }
  .entries{
    color:var(--text-color);
  }
  .employ {
    width: 200px;
  }
  .cols {
    width: inherit;
  }
  .profile {
    margin-right: 10px;
  }
  #modal1 {
    margin-left: 150px;
  }
  .page-link{
    color: var(--text-color);
  }
  .next{
    background: var(--bg-sidebar);
    border: 3px solid #00D7E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .previous{
    background: var(--bg-sidebar);
    border: 3px solid #00D7E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .num{
    background: var(--sidebar-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  }
  /**changed**/
  .swits {
    position: relative;
    top: -20px;
    padding-right: 25px;
    padding-left: 25px;
  }
  /**changed**/
  .toggle-switch {
    right: -25px;
    align-self: flex-end;
    float: right;
    height: 30px;
    margin-top: 20px;
    position: absolute;
    width: 70px;
  }
  
  .lab{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .dar {
    position: absolute;
    display: none;
  }
  
  /**changed**/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider);
    -webkit-transition: .4s;
    transition: .4s;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  
  
  .dar:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 8px -8px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  .dar:checked ~ .slider::before {
    transform: translateX(40px);
    background-color: var(--dark);
    box-shadow: none;
  }
  .dar:checked ~ .slider::before {
    transform: translateX(40px);
    background-color: var(--dark);
    box-shadow: none;
  }
  @media screen and (max-width: 1280px) {
    .input-group{
      margin-left: 650px;
    }
  }
  @media screen and (max-width: 992px) {
    .navbar-nav {
      left: 30px;
  }
  .icon {
    width: 260px;
  }
  .input-group{
    margin-left: 460px;
  }
  }
  @media screen and (max-width:768px) {
    .navbar-nav {
      left: 590px;
  }
  .account {
    margin-left: -25px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -70px;
  }
    .search {
      margin-right: 30px;
  }
  .input-group{
    margin-left: 250px;
  }
  #form1 {
    width: 280px;
  }
  }
  @media screen and (max-width:576px) {
    .navbar-nav {
      left: 390px;
  }
    .input-group{
      margin-left: 160px;
    }
    #form1 {
      width: 260px;
    }
    .bi-search::before {
      font-size: 20px;
  }
  }
  @media screen and (max-width: 500px){
    .navbar-nav {
      left: 310px;
  }
    .input-group{
      margin-left: 120px;
    }
  }
  @media screen and (max-width: 400px){
    .navbar-nav {
      left: 210px;
  }
  .icon {
    margin-left: 15px;
  }
  .input-group{
    margin-left: 10px;
  }
  }
  @media screen and (max-width:375px){
    .navbar-nav {
      left: 190px;
  }
  #form1 {
    width: 240px;
  }
  }