body {
  background: #00c2d6;
  font-family: sans-serif;
}
.search-box {
  width: 500px;
  border-style: outset;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
}
.navbar-expand-lg {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 17px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.navbar-nav {
  position: relative;
  left: -15px;
}
.jsr {
  position: relative;
}
.nav-link {
  border-radius: 10px;
  width: 150px;
}
.message {
  text-align: center;
  background-color: #00c2d6;
}
.account {
  text-align: center;
  text-indent: -15px;
  width: 250px;
}
.about {
  text-indent: 20px;
}
.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: 210px !important;
}
.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}
.search {
  background-color: #00c2d6;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search:hover {
  color: #554350 !important;
}
.image {
  position: relative;
  left: -10px;
}
.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.menudrop {
  background-color: #8b8383;
}
.container input {
  background: #ececec;
}
.button1 {
  outline: none;
  border: none;
  background: #00c2d6;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}
.btn1 {
  width: 220px;
  height: 50px;
  background-color: #00c2d6;
  line-height: 19px;
  border: 0;
  border-radius: 13px;
}
.return {
  background-color: transparent;
  border: 0;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  color: #ffffff;
}
.con2 {
  background-color: #50677b;
  border-radius: 10px 10px 0 0;
  height: 60px;
  margin-left: 0px;
}
.container-md {
  border-radius: 15px;
  width: 1250px;
  height: 700px;
}
.con1 {
  width: 315px;
  height: 700px;
  margin-right: 20px;
  margin-left: 75px;
  border-radius: 15px;
}
.bi-caret-right-fill {
  position: absolute;
  left: -20px;
}
.btn-trash {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 1100px;
  margin-top: 50px;
}
.btn-plus {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 50px;
}
.form-check-input {
  background-color: #00c2d6;
  width: 30px;
  height: 30px;
}
.form-check-input:checked {
  background-color: #00c2d6 !important;
  color: black !important;
  border: 0;
  width: 30px;
  height: 30px;
}
.form-check-input .checkmark:after {
  color: black !important;
}
.sec1 {
  background-color: #ececec;
  margin-left: 18px;
  margin-top: 20px;
  width: 1150px;
  height: 100px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bg-2 {
  margin-left: 770px;
}
.bi-caret {
  margin-left: 110px;
}
.bg-para {
  background-color: #ececec;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.bg-para1 {
  background-color: #ececec;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 650px;
}
.scroll {
  overflow-y: scroll;
  height: 500px;
  overflow-x: hidden;
}
.reply {
  background-color: #ececec;
  border: 0;
  width: 960px;
  height: 250px;
  margin-left: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.btn-send {
  border: 0;
  background-color: #00c2d6;
  width: 160px;
  border-radius: 25px;
  margin-left: 950px;
  margin-top: 30px;
}
.div1 {
  background: #ececec;
  width: 92%;
}
text {
  font-family: "Montserrat", sans-serif;
}
.div2 {
  margin-left: 150px;
}
.img-96 {
  border: 0;
  width: 50px;
  background: #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-98 {
  border: 0;
  height: 53px;
  width: 50px;
  background: #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img9 {
  margin-left: -10px;
}
.dropdown-toggle::after {
  margin-left: -15px;
}
.dropdown-menu {
  width: 180px !important;
}
.dropdown-item {
  margin: 0% !important;
  padding: 0% !important;
}
.btn2 {
  border: 0;
}
.img-102 {
  border: 0;
  width: 60px;
  margin-left: -8px;
  background: #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.email {
  width: 300px;
  background-color: transparent;
  border: 0;
}
a.dropdown-toggle::after {
  margin-left: 10px;
}
@media screen and (max-width: 1500px) {
  a.dropdown-toggle::after {
    margin-left: 10px;
  }
  .con1 {
    width: 300px;
    margin-left: -20px;
  }
  .container-md {
    width: 900px;
  }
  .reply {
    width: 720px;
  }
  .btn-send {
    margin-left: 700px;
    width: 130px;
    line-height: 45px;
  }
  .img-98 {
    width: 55px;
    height: 58px;
    margin-left: -0px;
    padding-left: -0px;
  }
  .dropdown-toggle::after {
    margin-left: -13px;
  }
  .img-102 {
    width: 60px;
    height: 62px;
    margin-left: -8px;
  }
}
@media screen and (max-width: 1280px) {
  a.dropdown-toggle::after {
    margin-left: 10px;
  }
  .con1 {
    width: 300px;
    margin-left: -20px;
  }
  .container-md {
    width: 900px;
  }
  .reply {
    width: 720px;
  }
  .btn-send {
    margin-left: 700px;
    width: 130px;
    line-height: 45px;
  }
  .img-98 {
    width: 55px;
    height: 58px;
    margin-left: -0px;
    padding-left: -0px;
  }
  .dropdown-toggle::after {
    margin-left: -13px;
  }
  .img-102 {
    width: 60px;
    height: 62px;
    margin-left: -8px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    margin-left: 770px !important;
  }
  .con1 {
    width: 200px;
  }
  .btn1 {
    width: 140px;
  }
  .ps-2 {
    font-size: 13px;
  }
  .container-md {
    width: 500px;
  }
  h4 {
    margin-top: -45px;
    margin-left: 150px;
  }
  .reply {
    margin-left: 40px;
    margin-top: 10px !important;
    width: 420px;
  }
  .btn-send {
    margin-left: 350px;
    width: 130px;
    line-height: 45px;
  }
  .row {
    width: 500px;
  }
  .div1 {
    width: 83%;
  }
  .div2 {
    margin-left: 45px;
  }
  .img-96 {
    width: 35px;
    height: 35px;
  }
  .ii {
    padding-left: -0px;
  }
  .img-98 {
    width: 35px;
    height: 30px;
    margin-left: -0px;
  }
  .dropdown-toggle::after {
    margin-left: -11px;
  }
  .btn2 {
    width: 35px;
    height: 30px;
  }
  .img-102 {
    width: 35px;
    height: 35px;
    margin-left: -8px;
  }
  .btn-send {
    width: 100px;
    height: 40px;
    line-height: 35px;
  }
  .send {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-left: 550px !important;
  }
  .con1 {
    width: 200px;
  }
  .btn1 {
    width: 140px;
  }
  .ps-2 {
    font-size: 13px;
  }
  .container-md {
    width: 500px;
  }
  h4 {
    margin-top: -45px;
    margin-left: 150px;
  }
  .reply {
    margin-left: 40px;
    margin-top: 10px !important;
    width: 420px;
  }
  .btn-send {
    margin-left: 350px;
    width: 130px;
    line-height: 45px;
  }
  .row {
    width: 500px;
  }
  .div1 {
    width: 83%;
  }
  .div2 {
    margin-left: 45px;
  }
  .img-96 {
    width: 35px;
    height: 35px;
  }
  .ii {
    padding-left: -0px;
  }
  .img-98 {
    width: 35px;
    height: 30px;
    margin-left: -0px;
  }
  .dropdown-toggle::after {
    margin-left: -11px;
  }
  .btn2 {
    width: 35px;
    height: 30px;
  }
  .img-102 {
    width: 35px;
    height: 35px;
    margin-left: -8px;
  }
  .btn-send {
    width: 100px;
    height: 40px;
    line-height: 35px;
  }
  .send {
    font-size: 25px;
  }
}
@media screen and (max-width: 695px) {
  .navbar-nav {
    margin-left: 480px !important;
    margin-top: 10px;
  }
  .dropdown-toggle::after {
    margin-left: -10px;
  }
  .icon {
    width: 300px;
  }
  .con1 {
    height: 300px;
    margin-left: 190px;
  }
  .container-md {
    width: 360px;
    height: 620px;
    margin-top: 320px;
    margin-left: -295px;
  }
  h4 {
    margin-left: 100px;
    margin-top: -47px;
  }
  .img-98 {
    margin-left: -0px !important;
  }
  .row {
    width: 360px;
  }
  .reply {
    margin-left: 40px;
    margin-top: 10px !important;
    width: 300px;
  }
  .btn-send {
    margin-left: 250px;
  }
}
@media screen and (max-width: 375px) {
  .navbar-nav {
    margin-left: 170px !important;
    margin-top: 10px;
  }
  .dropdown-toggle::after {
    margin-left: -10px;
  }
  .icon {
    width: 300px;
  }
  .con1 {
    height: 300px;
    margin-left: 35px;
  }
  .container-md {
    width: 360px;
    height: 620px;
    margin-top: 320px;
    margin-left: -295px;
  }
  h4 {
    margin-left: 100px;
    margin-top: -47px;
  }
  .img-98 {
    margin-left: -0px !important;
  }
  .row {
    width: 360px;
  }
  .reply {
    margin-left: 40px;
    margin-top: 10px !important;
    width: 300px;
  }
  .btn-send {
    margin-left: 250px;
  }
}
