body {
    background: #00c2d6;

    font-family: sans-serif;
}

.search-box {
    width: 500px;
    border-style: outset;
}

.btn-outline {
    background-color: #00c2d6;
}

.navbar-light {
    background-color: #ffffff;
}

.navbar-expand-lg {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 17px;
}

.btn-outline-secondary {
    background-color: #00c2d6;
    color: white;
    border: #00c2d6;
    border-style: outset;
}

.navbar-nav {
    position: relative;
    left: -15px;
}

.d-flex {
    position: relative;
    left: 20px;
}

.nav-link {
    border-radius: 10px;
    width: 150px;
}

.message {
    text-align: center;
    background-color: #00c2d6;
}

.account {
    text-align: center;
    text-indent: -15px;
    width: 250px;
}

.about {
    text-indent: 20px;
}

.account-drop {
    text-align: center;
    background-color: #372732;
    width: 250px;
}

.nav-item .dropdown-item:hover {
    background-color: #8b8383;
}

.search {
    background-color: #00c2d6;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search:hover {
    color: #554350 !important;
}

.image {
    position: relative;
    left: -10px;
}

.icon {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.icon1 {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.menudrop {
    background-color: #8b8383;
}

.container input {
    background: #ececec;
}

.button1 {
    outline: none;
    border: none;
    background: #00c2d6;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}

.btn1 {
    width: 220px;
    height: 50px;
    background-color: #00c2d6;
    line-height: 19px;
    border: 0;
    border-radius: 13px;
}

h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.container-md {
    border-radius: 15px;
    width: 1250px;
    height: 700px;
}

.con1 {
    width: 315px;
    height: 700px;
    margin-right: 20px;
    margin-left: 75px;
    border-radius: 15px;
}

.bi-caret-right-fill {
    position: absolute;
    left: 88px;
}

.btn-trash {
    background-color: #00c2d6;
    border-radius: 40px;
    border: 0;
    height: 70px;
    width: 70px;
    margin-left: 1100px;
    margin-top: 30px;
}

.form-check-input {
    background-color: #00c2d6;
    width: 30px;
    height: 30px;
}

.form-check-input:checked {
    background-color: #00c2d6 !important;
    color: black !important;
    border: 0;
    width: 30px;
    height: 30px;
}

.form-check-input .checkmark:after {
    color: black !important;
}

.sec1 {
    background-color: #ececec;
    margin-left: 18px;
    margin-top: 20px;
    width: 1150px;
    height: 100px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.form-control {
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.scroll {
    overflow-y: scroll;
    height: 500px;
    overflow-x: hidden;
}

.div1 {
    margin-left: 770px;
}
@media screen and (max-width:1750px) {
    .con1 {
        margin-left: 10px;
    }
    .container-md {
        width: 1250px;
        margin-left: 10px;
    }
    .icon1 {
        margin-left: 0px;
    }
    .btn-trash {
        margin-left: 1100px;
        margin-top: 30px;
    }
    .bi-caret-right-fill {
        left: -35px;
    }
    .bi-caret-right-fill::before {
        margin-left: 80px;
    }
    #sent{
        margin-left: 40px;
    }
}
@media screen and (max-width:1500px){
    .con1 {
        margin-left: 60px;
    }
    .container-md {
        width: 900px;
        margin-left: 10px;
    }
    .icon1 {
        margin-left: -330px;
    }
    .btn-trash {
        margin-left: 750px;
        margin-top: 30px;
    }
    .bi-caret-right-fill {
        left: 15px;
    }
}
@media screen and (max-width:1280px) {
    .con1 {
        margin-left: -50px;
    }
    .container-md {
        width: 900px;
        margin-left: 10px;
    }
    .icon1 {
        margin-left: -330px;
    }
    .btn-trash {
        margin-left: 750px;
        margin-top: 30px;
    }
    .bi-caret-right-fill {
        left: -35px;
    }
}@media screen and (max-width: 950px){
    .con1 {
        width: 200px;
    }
    .container-md {
        width: 680px;
    }
    .icon1 {
        margin-left: -450px;
        width: 250px;
    }
    .btn-trash {
        margin-left: 550px;
    }
    .search {
        margin-right: 30px;
    }
    .jsr{
        width: 50px;
    }
    .btn1 {
        width: 150px;
    }
    .ms-3 {
        margin-left: -5px!important;
    }
    .bi-caret-right-fill::before {
        margin-left: -17px;
    }
    .jsr {
        font-size: 10px;
    }
    #sent{
        margin-left: 25px !important;
    }
    .navbar-nav {
        left: 540px;
    }
    .navbar-nav .dropdown-menu {
        margin-left: -40px;
    }
}
@media screen and (max-width: 768px) {
    .con1 {
        width: 200px;
    }
    .container-md {
        width: 500px;
    }
    .icon1 {
        margin-left: -630px;
        width: 250px;
    }
    .btn-trash {
        margin-left: 350px;
    }
    .search {
        margin-right: 30px;
    }
    .jsr{
        width: 50px;
    }
    .btn1 {
        width: 150px;
    }
    .ms-3 {
        margin-left: -5px!important;
    }
    .bi-caret-right-fill::before {
        margin-left: -17px;
    }
    .jsr {
        font-size: 10px;
    }
    #sent{
        margin-left: 25px !important;
    }
    .navbar-nav {
        left: 540px;
    }
    .navbar-nav .dropdown-menu {
        margin-left: -40px;
    }
}
@media screen and (max-width: 600px){
    .icon {
        width: 250px;
    }
    .search {
        margin-right: 15px !important;
    }
    .con1 {
        height: 300px;
        margin-left: 130px;
    }.container-md {
        width: 560px;
        margin-top: 350px;
        margin-left: -400px;
    }
    .icon1 {
        margin-left: -570px;
        width: 250px;
    }
    .bi-caret-right-fill::before {
        margin-left: 170px;
    }
    .sec1 {
        margin-left: -20px;
    }
    .btn-trash {
        margin-left: 440px;
    }
    .navbar-nav {
        margin-top: 20px;
        left: 150px;
    }
    .dropdown-menu[data-bs-popper] {
        margin-left: -50px;
    }
}@media screen and (max-width:400px) {
    .icon {
        width: 300px;
        margin-right: -30px;
    }
    .search {
        margin-right: -100px !important;
    }
    .con1 {
        height: 300px;
        margin-left: 20px;
    }.container-md {
        width: 360px;
        margin-top: 350px;
        margin-left: -300px;
    }
    .icon1 {
        margin-left: -770px;
        width: 250px;
    }
    .bi-caret-right-fill::before {
        margin-left: 60px;
    }
    .sec1 {
        margin-left: -20px;
    }
    .btn-trash {
        margin-left: 220px;
    }
    .navbar-nav {
        margin-top: 20px;
        left: 150px;
    }
    .dropdown-menu[data-bs-popper] {
        margin-left: -50px;
    }
}
@media screen and (max-width:375px) {
    .icon {
        width: 300px;
        margin-right: -30px;
    }
    .search {
        margin-right: -100px !important;
    }
    .con1 {
        height: 300px;
        margin-left: 20px;
    }.container-md {
        width: 360px;
        margin-top: 350px;
        margin-left: -300px;
    }
    .icon1 {
        margin-left: -770px;
        width: 250px;
    }
    .bi-caret-right-fill::before {
        margin-left: 60px;
    }
    .sec1 {
        margin-left: -20px;
    }
    .btn-trash {
        margin-left: 220px;
    }
    .navbar-nav {
        margin-top: 20px;
        left: 150px;
    }
    .dropdown-menu[data-bs-popper] {
        margin-left: -50px;
    }
}