body {
  background: #00c2d6;
  font-family: sans-serif;
}

.search-box {
  width: 500px;
  border-style: outset;
}

.btn-outline {
  background-color: #00c2d6;
}

.navbar-light {
  background-color: #ffffff;
}

.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 17px;
  width: 100%;
}

.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}

.navbar-nav {
  position: relative;
  left: -15px;
}

.d-flex {
  position: relative;
  left: 20px;
}

.nav-link {
  border-radius: 10px;
  width: 150px;
}

.message {
  text-align: center;
  background-color: #00c2d6;
}

.account {
  text-align: center;
  text-indent: -15px;
  width: 250px;
}

.about {
  text-indent: 20px;
}

.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px;
}

.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}

.search {
  background-color: #00c2d6;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search:hover {
  color: #554350 !important;
}

.image {
  position: relative;
  left: -10px;
}

.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.menudrop {
  background-color: #8b8383;
}

.container input {
  background: #ececec;
}

.button1 {
  outline: none;
  border: none;
  background: #00c2d6;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}

.btn1 {
  width: 220px;
  height: 50px;
  background-color: #00c2d6;
  line-height: 19px;
  border: 0;
  border-radius: 13px;
}

.return {
  background-color: transparent;
  border: 0;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  color: #ffffff;
}

.con2 {
  background-color: #50677b;
  border-radius: 10px 10px 0 0;
  height: 60px;
  margin-left: 0px;
}

.container-md {
  border-radius: 15px;
  width: 1250px;
  height: 700px;
}

.con1 {
  width: 315px;
  height: 700px;
  margin-left: 75px;
  margin-right: 20px;
  border-radius: 15px;
}

.bi-caret-right-fill {
  position: absolute;
  left: -20px;
}

.btn-trash {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 1100px;
  margin-top: 50px;
}

.btn-plus {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 50px;
}

.form-check-input {
  background-color: #00c2d6;
  width: 30px;
  height: 30px;
}

.form-check-input:checked {
  background-color: #00c2d6 !important;
  color: black !important;
  border: 0;
  width: 30px;
  height: 30px;
}

.form-check-input .checkmark:after {
  color: black !important;
}

.sec1 {
  background-color: #ececec;
  margin-left: 18px;
  margin-top: 20px;
  width: 1150px;
  height: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg-2 {
  margin-left: 770px;
}

.bi-caret {
  margin-left: 110px;
}

.bg-para {
  background-color: #ececec;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bg-para1 {
  background-color: #ececec;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 650px;
}

.scroll {
  overflow-y: scroll;
  height: 350px;
  overflow-x: hidden;
}

.reply {
  background-color: #ececec;
  border: 0;
  width: 700px;
  height: 150px;
  margin-left: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn-send {
  border: 0;
  background-color: #00c2d6;
  width: 130px;
  border-radius: 15px;
  margin-left: 250px;
  margin-top: 10px;
}

.bi-person-fill::before {
  content: "\f4da";
  margin-left: 20px;
}

@media screen and (max-width: 1280px) {
  .mes{
    margin-left: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .con1 {
    margin-left: 2px;
  }

  .con3 {
    width: 820px;
  }

  .c1 {
    width: 500px;
  }

  .c2 {
    margin-left: 450px;
    width: 250px;
  }

  .c6 {
    margin-left: -100px;

  }

  .reply {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .con1 {
    margin-left: 200px !important;
    width: 300px !important;
    height: 350px;

  }

  .con2 {
    width: 720px;
  }

  .con3 {
    margin-top: 400px !important;
    margin-left: -560px;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 290px !important;
  }

  .c1 {
    width: 500px;
  }

  .c2 {
    margin-left: 400px;
    width: 230px;
  }

  .c6 {
    margin-left: -120px;
  }

  .navbar-nav {
    left: 500px;
  }

  .reply {
    width: 400px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .mes{
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .con1 {
    margin-left: 110px !important;
    width: 330px !important;
    height: 350px;

  }

  .con2 {
    width: 650px;
  }

  .con3 {
    width: 650px;
    margin-top: 400px !important;
    margin-left: -530px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 250px !important;
  }

  .c1 {
    width: 450px;
  }

  .c2 {
    margin-left: 350px;
    width: 200px;
  }

  .c6 {
    margin-left: -150px;
  }

  .navbar-nav {
    left: 380px;
  }

  .reply {
    width: 400px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .mes{
    margin-left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .con1 {
    margin-left: -30px !important;
    width: 300px !important;
    height: 350px;

  }

  .con2 {
    width: 360px;
  }

  .con3 {
    width: 360px;
    margin-top: 400px !important;
    margin-left: -350px;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 100px !important;
  }

  .c1 {
    width: 200px;
    font-size: 10px;
  }

  .c2 {
    margin-left: 150px;
    width: 100px;
    font-size: 10px;
  }

  .c6 {
    margin-left: -170px;
  }

  .navbar-nav {
    left: 100px;
  }

  .reply {
    width: 200px;
    height: 130px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .icon{
    width: 270px;
  }
  .btn-send{
    font-size: 10px;
    width: 80px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 300px) {
  .con1 {
    margin-left: -50px !important;
    width: 280px !important;
    height: 350px;

  }
  .btn1{
    width: 200px;
  }

  .con2 {
    width: 300px;
  }

  .con3 {
    width: 300px;
    margin-top: 400px !important;
    margin-left: -310px;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 100px !important;
  }

  .c1 {
    margin-left: 10px !important;
    width: 200px;
    font-size: 10px;
  }

  .c2 {
    margin-left: 150px;
    width: 90px;
    font-size: 10px;
  }

  .c6 {
    margin-left: -170px;
  }

  .navbar-nav {
    left: 90px;
  }

  .reply {
    width: 180px;
    height: 120px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .icon{
    width: 200px;
  }
  .btn-send{
    font-size: 10px;
    width: 80px;
    margin-left: 180px;
  }
}