body {
  background: var(--page);
  font-family: sans-serif;
}

.search-box {
  width: 500px;
  border-style: outset;
}

.btn-outline {
  background-color: #00c2d6;
}

.navbar-light {
  background-color: var(--secondary) !important;
  border-bottom: 1px solid #00d7e2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 17px;
  width: 100%;
}

.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}

.navbar-nav {
  position: relative;
  left: -15px;
}

.d-flex {
  position: relative;
  left: 20px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 17px;
    border-radius: 10px;
    width: 150px;
    color: var(--primary) !important;
}

.message {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--secondary) !important;
  background-color: var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.account {
  text-align: center;
  text-indent: -15px;
  width: 250px;
}

.about {
  text-indent: 20px;
}

.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px;
  border-radius: 15px;
}
.dropdown-item {
  position: relative;
  left: 20px;
}

.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}

.search {
  background-color: #00c2d6;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search:hover {
  color: #554350 !important;
}

.image {
  position: relative;
  left: -10px;
}

.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.menudrop {
  background-color: #8b8383;
}

.container input {
  background: #ececec;
}

.button1 {
  outline: none;
  border: none;
  background: #00c2d6;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}

.btn1 {
  width: 220px;
  height: 50px;
  background-color: var(--secondary);
  line-height: 19px;
  border: 2px solid #00D7E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  color: var(--text-color);
}

.return {
  background-color: transparent;
  border: 0;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--primary);
}
.job{
  color: var(--hover-text1);
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--primary);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  color: black;
}

.con2 {
  background-color: #00D7E6;
  border-radius: 10px 10px 0 0;
  height: 60px;
  margin-left: 0px;
}

.container-md {
  border-radius: 15px;
  width: 1250px;
  height: 700px;
  background-color: var(--mast) !important;
}

.con1 {
  width: 315px;
  height: 700px;
  margin-left: 75px;
  margin-right: 20px;
  border-radius: 15px;
  background-color: var(--mast) !important;
}

.bi-caret-right-fill {
  position: absolute;
  left: -20px;
  color: var(--primary);
}

.btn-trash {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 1100px;
  margin-top: 50px;
}

.btn-plus {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 50px;
}

.form-check-input {
  background-color: #00c2d6;
  width: 30px;
  height: 30px;
}

.form-check-input:checked {
  background-color: #00c2d6 !important;
  color: black !important;
  border: 0;
  width: 30px;
  height: 30px;
}

.form-check-input .checkmark:after {
  color: black !important;
}

.sec1 {
  background-color: #ececec;
  margin-left: 18px;
  margin-top: 20px;
  width: 1150px;
  height: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg-2 {
  margin-left: 770px;
}

.bi-caret {
  margin-left: 110px;
}

.bg-para {
  background-color: #ececec;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bg-para1 {
  background-color: #ececec;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 650px;
}

.scroll {
  overflow-y: scroll;
  height: 350px;
  overflow-x: hidden;
}

.reply {
  background-color: #ececec;
  border: 0;
  width: 700px;
  height: 150px;
  margin-left: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn-send {
  border: 2px solid #00c2d6;
  background-color: var(--secondary);
  color: var(--primary);
  width: 130px;
  border-radius: 15px;
  margin-left: 250px;
  margin-top: 10px;
}

.bi-person-fill::before {
  content: "\f4da";
  margin-left: 20px;
}
 /* Light and Dark theme */
 :root {
  --page:#ffffff;
  --mast: #ffffff;
  --primary: black;
  --secondary: #00D7E2;
  --bg: #00D7E2;
  --border: #ececec;
  --text: black;
  --text1: #ffffff;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  --hover-text1:white;
  --text-color:black;
}
.dark-theme {
  --primary: #00D7E6;
  --secondary: #111C25;
  --page: #182531;
  --mast: #334553;
  --another: #50677B;
  --text: white;
  --text1: black;
  --bg: #50677B;
  --border: #00D7E2;
  --hover-text1:black;
  --text-color:#00c2d6;

}
.highlight{
  background-color: #00c2d6;
  color: var(--hover-text1) !important;
}
.toggle-switch {
  right: 10px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
@media screen and (max-width: 1280px) {
  .mes{
    margin-left: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .con1 {
    margin-left: 2px;
  }

  .con3 {
    width: 820px;
  }

  .c1 {
    width: 500px;
  }

  .c2 {
    margin-left: 450px;
    width: 250px;
  }

  .c6 {
    margin-left: -100px;

  }

  .reply {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .con1 {
    margin-left: 200px !important;
    width: 300px !important;
    height: 350px;

  }

  .con2 {
    width: 720px;
  }

  .con3 {
    margin-top: 400px !important;
    margin-left: -560px;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 290px !important;
  }

  .c1 {
    width: 500px;
  }

  .c2 {
    margin-left: 400px;
    width: 230px;
  }

  .c6 {
    margin-left: -120px;
  }

  .navbar-nav {
    left: 500px;
  }

  .reply {
    width: 400px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .mes{
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .con1 {
    margin-left: 110px !important;
    width: 330px !important;
    height: 350px;

  }

  .con2 {
    width: 650px;
  }

  .con3 {
    width: 650px;
    margin-top: 400px !important;
    margin-left: -530px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 250px !important;
  }

  .c1 {
    width: 450px;
  }

  .c2 {
    margin-left: 350px;
    width: 200px;
  }

  .c6 {
    margin-left: -150px;
  }

  .navbar-nav {
    left: 380px;
  }

  .reply {
    width: 400px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .mes{
    margin-left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .con1 {
    margin-left: -30px !important;
    width: 300px !important;
    height: 350px;

  }

  .con2 {
    width: 360px;
  }

  .con3 {
    width: 360px;
    margin-top: 400px !important;
    margin-left: -350px;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 100px !important;
  }

  .c1 {
    width: 200px;
    font-size: 10px;
  }

  .c2 {
    margin-left: 150px;
    width: 100px;
    font-size: 10px;
  }

  .c6 {
    margin-left: -170px;
  }

  .navbar-nav {
    left: 100px;
  }

  .reply {
    width: 200px;
    height: 130px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .icon{
    width: 270px;
  }
  .btn-send{
    font-size: 10px;
    width: 80px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 300px) {
  .con1 {
    margin-left: -50px !important;
    width: 280px !important;
    height: 350px;

  }
  .btn1{
    width: 200px;
  }

  .con2 {
    width: 300px;
  }

  .con3 {
    width: 300px;
    margin-top: 400px !important;
    margin-left: -310px;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: -50px;
    margin-left: 100px !important;
  }

  .c1 {
    margin-left: 10px !important;
    width: 200px;
    font-size: 10px;
  }

  .c2 {
    margin-left: 150px;
    width: 90px;
    font-size: 10px;
  }

  .c6 {
    margin-left: -170px;
  }

  .navbar-nav {
    left: 90px;
  }

  .reply {
    width: 180px;
    height: 120px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }
  .icon{
    width: 200px;
  }
  .btn-send{
    font-size: 10px;
    width: 80px;
    margin-left: 180px;
  }
}