html{
  --bg:#ECECEC;
  --bg-navbar:#00c2d6;
  --text-color:black;
  --bg-sidebar:#00c2d6;
  --bg-container: white;
  --text-color1:#00c2d6;
  --sidebar-hover:white;
  --hover-text: #00c2d6;
  --bg-container1: #ECECEC;
  --bg-cont1: rgba(0, 215, 226, 0.5);
  --side-item: black;
  --sec-border:#ECECEC;
  --hover-text1:white;
}
:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
html[data-theme='dark']{
  --bg:#1a2b35;
  --bg-navbar:#182531;
  --text-color:#00c2d6;
  --bg-sidebar:#182531;
  --bg-container: #334553;
  --text-color1:white;
  --sidebar-hover:#00D7E2;
  --hover-text: black;
  --bg-container1: #1b2a35; 
  --bg-cont1: #00d7e2;
  --side-item: white;
  --sec-border:#00c2d6;
  --hover-text1:black;
}
body {
  background: var(--bg);
  font-family: sans-serif;
}

.search-box {
  width: 500px;
  border-style: outset;
}

.btn-outline {
  background-color: #00c2d6;
}

.navbar-light {
  background-color: var(--bg-navbar) !important;
}

.navbar-expand-lg {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 17px;
}

.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}

.navbar-nav {
  position: relative;
  left: -15px;
}

.d-flex {
  position: relative;
  left: 20px;
}

.nav-link {
  border-radius: 10px;
  width: 150px;
  color: var(--text-color)!important;
}

.message {
  text-align: center;
  background-color: var(--sidebar-hover);
  color: black !important;
}

.account {
  text-align: center;
  text-indent: -15px;
  width: 250px;
}

.about {
  text-indent: 20px;
}

.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px;
  border-radius: 15px;
}
.dropdown-item {
  position: relative;
  left: 20px;
}

.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}

.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search:hover {
  color: #554350 !important;
}

.image {
  position: relative;
  left: -10px;
}

.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.icons {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.menudrop {
  background-color: #8b8383;
}

.container input {
  background: #ececec;
}

.button1 {
  outline: none;
  border: none;
  background: #00c2d6;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}
.modal-body {
  margin-left: 170px;
}
.modal-title{
  text-align: center;
}
.btn1 {
  width: 70px;
}
#submits {
  position: relative;
  right: 27px;
}
.btn2 {
  width: 70px;
  
}
.btn3 {
  width: 70px;
}
.btn1 {
  width: 220px;
  height: 50px;
  background-color: var(--bg-sidebar);
  line-height: 19px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #00c2d6;
  border-radius: 13px;
  color: var(--text-color);
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.container-md {
  border-radius: 15px;
  width: 1250px;
  height: 800px;
  background-color: var(--bg-container)!important;
}
.container-md h5{
  color: var(--text-color);
}
.con1 {
  width: 315px;
  height: 800px;
  margin-right: 20px;
  margin-left: 75px;
  border-radius: 15px;
  background-color: var(--bg-container) !important;
  color: var(--text-color) !important;
}

.bi-caret-right-fill {
  position: absolute;
  left: 88px;
}

.btn-trash {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 1050px;
  margin-top: 50px;
}

.btn-plus {
  background-color: #00c2d6;
  border-radius: 40px;
  border: 0;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  margin-top: 50px;
}
.highlight{
  background-color: #00c2d6!important;
  color: var(--hover-text1)!important;
}
.form-check-input {
  background-color: #00c2d6;
  width: 30px;
  height: 30px;
}

.form-check-input:checked {
  background-color: #00c2d6 !important;
  color: black !important;
  border: 0;
  width: 30px;
  height: 30px;
}

.form-check-input .checkmark:after {
  color: black !important;
}

.sec1 {
  background-color: #ececec;
  margin-left: 18px;
  margin-top: 20px;
  width: 1150px;
  height: 100px;
}
.ref{
  color: var(--text-color1)
}
.sec0 {
  background: var(--bg-cont1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  width: 1250px;
  height: 60px;
}

.p1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-restore {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: var(--bg-sidebar);
  border: 3px solid #00c2d6;
  border-radius: 15px;
  margin-left: 910px;
  width: 100px;
  height: 50px;
  color: var(--text-color)!important;
}

.btn-delete {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: var(--bg-sidebar);
  border: 3px solid #00c2d6;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  color: var(--text-color)!important;
}

.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form1 {
  margin-left: 790px;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
  overflow-x: hidden;
}
.toggle-switch {
  left: 0px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
  top: -860px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
.bi-person-fill::before {
  content: "\f4da";
  margin-left: 20px;
}

@media screen and (max-width: 1600px) {
  .mes {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1280px) {
  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .con1 {
    margin-left: -40px;
  }

  .sec0 {
    width: 820px;
  }

  .con3 {
    width: 820px;
    margin-bottom: 40px;
  }

  .arrow {
    margin-left: -80px;
  }

  .icons {
    margin-left: -300px;
    width: 240px;

  }

  .btn-restore {
    width: 100px;
    margin-left: 500px;
    font-size: 15px;
  }

  .btn-delete {
    font-size: 15px;
    width: 130px;
  }

  .p1 {
    margin-left: -30px;
  }
  .toggle-switch{
    position: relative;
    top:-900px;
    left: -20px;
  }
}

@media screen and (max-width: 768px) {

  .con1 {
    margin-left: 200px !important;
    width: 300px !important;
    height: 350px;

  }

  .sec0 {
    width: 720px;
    height: 100px;
  }

  .p1 {
    margin-left: -35px;
  }

  .con3 {
    height: 900px;
    margin-top: 400px !important;
    margin-left: -560px;
    margin-bottom: 30px;
  }
  .container-md{
    position: relative;
    right: 40px;
  }
  .navbar-nav {
    left: 500px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }

  .mes {
    margin-left: 10px;
  }

  .arrow {
    margin-left: 115px;
  }

  .icons {
    margin-left: -350px;
    width: 200px;

  }

  .btn-restore {
    width: 100px;
    margin-left: 400px;
    font-size: 15px;
  }

  .btn-delete {
    font-size: 15px;
    width: 130px;
  }

  #submits {
    margin-left: 11px !important;
  }
  .icon{
    width: 300px;
  }
  .searchs{
    margin-right: 15px;
  }
  .toggle-switch{
    position: relative;
    top: -1380px;
    left:-20px;
  }
  .container-md{
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .con1 {
    margin-left: 110px !important;
    width: 330px !important;
    height: 350px;

  }

  .sec0 {
    width: 600px;
  }

  .con3 {
    width: 600px;
    margin-top: 400px !important;
    margin-left: -480px;
  }

  .navbar-nav {
    left: 380px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }

  .mes {
    margin-left: 10px;
  }

  .arrow {
    margin-left: 35px;
  }

  .icons {
    margin-left: -450px;
    width: 180px;
    font-size: 10px;

  }

  .btn-restore {
    width: 100px;
    margin-left: 300px;
    font-size: 15px;
  }

  .btn-delete {
    font-size: 15px;
    width: 130px;
  }

  .sec1 {
    width: 500px;
    font-size: 10px;
  }

  #submits {
    margin-left: 25px !important;
  }

  .p2 {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 375px) {
  .con1 {
    margin-left: -30px !important;
    width: 300px !important;
    height: 350px;

  }

  .sec0 {
    height: 120px;
    width: 360px;
  }

  .con3 {
    width: 360px;
    margin-top: 400px !important;
    margin-left: -350px;
    margin-bottom: 20px;
  }

  .navbar-nav {
    left: 100px;
  }

  #navbarDropdown {
    margin-left: -50px;
  }

  .icon {
    width: 270px;
  }

  .arrow {
    margin-left: -115px;
  }

  .icons {
    margin-left: -750px;
    width: 200px;

  }

  h5 {
    margin-top: 10px;
  }

  .btn-restore {
    width: 80px;
    margin-left: 50px;
    font-size: 10px;
  }

  .btn-delete {
    font-size: 10px;
    width: 100px;
  }

  #submits {
    margin-left: 8px !important;
  }
  .toggle-switch{
    position: relative;
    left:-10px;
    top: -1380px;
  }
  .container-md{
    position:relative;
    left: 0;
  }
}

/*sample
/* @media screen and (max-width: 300px) {
  .con1{
    margin-left: -100px !important;
  }
  .con3{
    width: 300px;
  }

  .sec0 {
    height: 30px;
    width: 300px;
    font-size: 5px;
  }
  .p1{

    margin-left: 20px;
  }
  
  #submits{
    margin-left: 45px !important;
  }
  .btn1{
    width: 150px;
    font-size: 10px;
  }
  h6{
    font-size: 10px;
  }
  .icons {
    margin-left: -740px;
    width: 150px;

  }
  h5{
    margin-top: 10px;
  }
  .btn-restore {
    width: 80px;
    margin-left: 50px;
    font-size: 10px;
  }

  .btn-delete {
    font-size: 10px;
    width: 100px;
  }
  .arrow {
    margin-left: -150px;
  }
  .icon{
    width: 150px;
  }

}