html{
  --bg:#ECECEC;
  --bg-navbar:#00c2d6;
  --text-color:black;
  --bg-sidebar:#00c2d6;
  --bg-container: white;
  --text-color1:black;
  --sidebar-hover:white;
  --hover-text: #00c2d6;
  --bg-container1: #ECECEC;
  --bg-cont1: rgba(0, 215, 226, 0.5);
}
:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
html[data-theme='dark']{
  --bg:#1a2b35;
  --bg-navbar:#182531;
  --text-color:#00c2d6;
  --bg-sidebar:#182531;
  --bg-container: #334553;
  --text-color1:white;
  --sidebar-hover:#00D7E2;
  --hover-text: black;
  --bg-container1: #1b2a35; 
  --bg-cont1: #00d7e2;
}
.masthead {
  background-size: cover;
  min-height: 100vh;
  margin: 0%;
  margin-top: 0;
  background-color: var(--bg);
}

.search-box {
  width: 500px;
  border-style: outset;
}

.btn-outline {
  background-color: #00c2d6;
}

.navbar-light {
  background-color: var(--bg-navbar) !important;
}

.navbar-expand-lg {
  width: 100%;
}

.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}

.navbar-nav {
  position: relative;
  left: -100px;
}

.d-flex {
  position: relative;
  left: 20px;
}

.nav-link {
  border-radius: 10px;
  width: 150px;
  color: var(--text-color) !important;
}

.message {
  text-align: center;
  font-weight: 500;
}

.account {
  text-align: center;
  text-indent: -15px;
  font-weight: 500;
  width: 250px;
}

.about {
  text-indent: 20px;
}

.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px;
  padding: 10px;
  border-radius: 15px;
}

.dropdown-item{
  text-align: start !important;
  color:white !important;
  position: relative;
  right: -20px;
}
.nav-item .dropdown-item:hover {
  background-color: #00C2D6;
  border-radius: 5px;
}

.dropdown-menu{
  background-color:#372732;
  border-color: none;
}
.dropdown-menu.show{
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px;
  border: none;
  align-items: flex-start !important;
}
.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}

.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search:hover {
  color: #554350 !important;
}

.page-footer {
  background-color: #ffffff;
}

input[type="file"]::file-selector-button {
  background-color: #00c2d6;
  color: black;
}

.img1 {
  margin-top: 320px;
  margin-left: 250px;
}

.img2 {
  margin-left: 470px;
  margin-top: 200px;
}
ul li{
  list-style: none;
}
.resume-temp{
  position: relative;
  right: 126px;
  top:10px;
}
.contain {
  width: 500px;
  height: 480px;
  margin-left: 400px;
  background-color: var(--bg-container) !important;
  color: var(--text-color) !important;
  position: relative;
  bottom: 500px;
  left: 120px;
}
.navbar-toggler{
  background-color:#00c1d694;
}
.inputs {
  width: 405px;
  height: 40px;
  background: #ececec;
  border: 0;
}

.files {
  width: 350px;
}

.btn1 {
  border: 3px solid #00c2d6;
  width: 22%;
  height: 30px;
  border-radius: 13px;
  background: var(--bg-sidebar);
  color: var(--text-color) !important;
}
.toggle-switch {
  right: 10px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
  top: 5px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
@media screen and (max-width: 1542px) {
  .contain {
    margin-left: 350px;
  }
  .img1 {
    margin-top: 350px;
    margin-left: 983px;
    width: 200px;
  }
  .img2 {
    margin-left: -910px;
    margin-top: -100px;
    width: 200px;
  }
}
@media screen and (max-width: 1280px) {
  .contain {
    margin-left: 330px;
  }
  .img1 {
    margin-top: 350px;
    margin-left: 920px;
    width: 200px;
  }
  .img2 {
    margin-left: -910px;
    margin-top: -100px;
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .contain {
    margin-left: 100px;
  }
  .img1 {
    margin-top: 430px;
    margin-left: 640px;
    width: 100px;
  }
  .img2 {
    margin-left: -590px;
    margin-top: -200px;
    width: 100px;
  }
  .navbar-nav {
    left: 560px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .search {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contain {
    margin-left: 100px;
  }
  .img1 {
    margin-top: 430px;
    margin-left: 640px;
    width: 100px;
  }
  .img2 {
    margin-left: 35px;
    margin-top: -600px;
    width: 100px;
  }
  .navbar-nav {
    left: 560px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .search {
    margin-right: 20px;
  }
}
@media screen and (max-width: 700px) {
  .contain {
    margin-left: 10px;
  }
  .navbar-nav {
    left: 480px;
}
  .img1 {
    margin-top: 455px;
    margin-left: 115px;
    width: 70px;
  }
  .img2 {
    margin-left: 340px;
    margin-top: 445px;
    width: 70px;
  }
  .navbar-nav {
    left: 160px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .icon {
    width: 280px;
  }
}
@media screen and (max-width: 600px) {
  .contain {
    margin-left: 10px;
  }
  .img1 {
    margin-top: 455px;
    margin-left: 60px;
    width: 70px;
  }
  .img2 {
    margin-left: 340px;
    margin-top: 445px;
    width: 70px;
  }
  .navbar-nav {
    left: 160px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .icon {
    width: 280px;
  }
}
@media screen and (max-width: 500px) {
  .contain {
    margin-left: 65px;
    width: 350px;
  }
  .img1 {
    margin-top: 455px;
    margin-left: 81px;
    width: 70px;
  }
  .img2 {
    margin-left: 200px;
    margin-top: 445px;
    width: 70px;
  }
  .navbar-nav {
    left: 160px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .icon {
    width: 400px;
  }
  .inputs {
    width: 305px;
  }
  .ms-4 {
    margin-left: 0px !important;
  }
  .ms-5 {
    margin-left: 20px !important;
  }
  .files {
    width: 240px;
  }
}
@media screen and (max-width: 400px) {
  .contain {
    margin-left: 13px;
    width: 350px;
  }
  .img1 {
    margin-top: 455px;
    margin-left: 28px;
    width: 70px;
  }
  .img2 {
    margin-left: 200px;
    margin-top: 445px;
    width: 70px;
  }
  .navbar-nav {
    left: 160px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .icon {
    width: 280px;
  }
  .inputs {
    width: 305px;
  }
  .ms-4 {
    margin-left: 0px !important;
  }
  .ms-5 {
    margin-left: 20px !important;
  }
  .files {
    width: 240px;
  }
}
@media screen and (max-width: 375px) {
  .contain {
    margin-left: 0px;
    width: 350px;
  }
  .img1 {
    margin-top: 455px;
    margin-left: 15px;
    width: 70px;
  }
  .img2 {
    margin-left: 200px;
    margin-top: 445px;
    width: 70px;
  }
  .navbar-nav {
    left: 160px;
  }
  .navbar-nav .dropdown-menu {
    margin-left: -65px;
  }
  .icon {
    width: 280px;
  }
  .inputs {
    width: 305px;
  }
  .ms-4 {
    margin-left: 0px !important;
  }
  .ms-5 {
    margin-left: 20px !important;
  }
  .files {
    width: 240px;
  }
  .resume-temp{
    position: relative;
    right: 75px;
  }
}