@media screen and (max-width: 1280px) {
  /* Blank */
}
@media screen and (max-width: 1199px) {
  .toggleShowHide1 {
    margin-left: 137px;
    margin-top: 20px;
  }
  .toggleShowHide2 {
    margin-left: 130px;
    margin-top: 20px;
  }
  .toggleShowHide3 {
    margin-left: 137px;
    margin-top: 20px;
  }
  .btn3 {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
    .me-0 {
        margin-left: 70px;
    }
    .about{
        margin-left: 70px;
    }
  .contain {
    height: 650px;
  }
  .head {
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .cons {
    width: 600px;
    margin-left: 30px;
  }
  .toggleShowHide1 {
    margin-left: 240px;
    margin-top: 2px;
  }
  .toggleShowHide2 {
    margin-left: 228px;
    margin-top: 2px;
  }
  .toggleShowHide3 {
    margin-left: 240px;
    margin-top: 2px;
  }
  .Bcolor {
    width: 320px;
  }
  .btn3 {
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
  }
  .characters {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .contain {
    height: 730px;
  }
  .head {
    width: 500px;
    margin-left: -5px;
    margin-top: 30px;
  }
  .cons {
    width: 500px;
    margin-left: -5px;
  }
  .toggleShowHide1 {
    margin-left: 110px;
    margin-top: 20px;
  }
  .toggleShowHide2 {
    margin-left: 102px;
    margin-top: 20px;
  }
  .toggleShowHide3 {
    margin-left: 110px;
    margin-top: 20px;
  }
  .Bcolor {
    width: 320px;
  }
  .btn3 {
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
  }
  .characters {
    margin-left: -10px;
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  
}
@media screen and (max-width: 400px){
    .contain{
        width: 100%;
        height: 800px;
    }
    .head {
        width: 100%;
    }
    .cons {
        width: 100%;
        height: 70%;
    }
    .btn3 {
        margin: 10px;
    }
}
@media screen and (max-width: 375px) {
  .contain {
    width: 370px;
    height: 700px;
  }
  .head {
    width: 300px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .cons {
    width: 300px;
    margin-left: 10px;
  }
  .box {
    margin-top: -30px !important;
    margin-left: 50px !important;
  }
  .box1 {
    margin-left: 50px !important;
  }
  .Bcolor {
    width: 250px;
  }
  .toggleShowHide1 {
    margin-left: 100px;
    margin-top: 10px;
  }
  .toggleShowHide2 {
    margin-left: 90px;
    margin-top: 10px;
  }
  .toggleShowHide3 {
    margin-left: 100px;
    margin-top: 20px;
  }
  .characters {
    margin-left: -10px;
    font-size: 10px;
  }
  .btn3 {
    width: 60px;
    font-size: 13px;
    margin-left: 37px;
    margin-right: 35px;
    border-radius: 10px;
  }
}
    