body {
    background: #00c2d6;
    font-family: sans-serif;
  }
  
  .search-box {
    width: 500px;
    border-style: outset;
  }
  
  .btn-outline {
    background-color: #00c2d6;
  }
  
  .navbar-light {
    background-color: #ffffff;
  }
  
  .navbar-expand-lg {
    width: 100%;
  }
  
  .btn-outline-secondary {
    background-color: #00c2d6;
    color: white;
    border: #00c2d6;
    border-style: outset;
  }
  
  .navbar-nav {
    position: relative;
    left: 10px;
  }
  
  .nav-link {
    border-radius: 10px;
    width: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  
  .message {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  
  .account {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 250px;
  }
  
  .account-drop {
    text-align: center;
    background-color: #372732;
    width: 250px;
  }
  
  .nav-item .dropdown-item:hover {
    background-color: #8b8383;
  }
  
  .search {
    background-color: #00c2d6;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .search:hover {
    color: #554350 !important;
  }
  
  .image {
    position: relative;
    left: -10px;
  }
  
  .searchbar {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 70px;
    text-align: center;
    color: white;
  }
  
  #update-profile {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fdf6ec;
    border-radius: 8px;
    border: 0;
  }
  
  #exit-profile {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #372732;
    border-radius: 8px;
    border: 0;
  }
  
  #change-password {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #372732;
    border-radius: 8px;
    border: 0;
  }
  
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #372732;
  }
  
  .icon {
    position: absolute;
    margin-left: 300px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .icon1 {
    position: absolute;
    margin-left: 290px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .icon2 {
    position: absolute;
    margin-left: 300px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .icon .bi-eye {
    display: none;
  }
  
  .icon.is-active .bi-eye {
    display: flex;
    margin-top: 10px;
  }
  
  .icon.is-active .bi-eye-slash {
    display: flex;
  }
  
  .icon1 .bi-eye {
    display: none;
  }
  
  .icon1.is-active .bi-eye {
    display: flex;
    margin-top: 10px;
  }
  
  .icon1.is-active .bi-eye-slash {
    display: flex;
  }
  
  .icon2 .bi-eye {
    display: none;
  }
  
  .icon2.is-active .bi-eye {
    display: flex;
    margin-top: 10px;
  }
  
  .icon2.is-active .bi-eye-slash {
    display: none;
  }
  
  .contain {
    width: 1500px;
    height: 800px;
    background-color: #fdf6ec;
    border-radius: 20px;
  }
  .btn1 {
    background: rgba(0, 194, 214, 0.5);
    border: 0;
    border-radius: 13px;
  }
  
  .btn2 {
    background: #00c2d6;
    border: 0;
    border-radius: 13px;
  }
  
  .btn3 {
    background-color: #00c2d6;
    border: 0;
    border-radius: 13px;
    width: 200px;
    height: 45px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
  }
  
  .head {
    background: #00c2d6;
    width: 68.5%;
    margin-left: 190px;
    margin-top: 100px;
  }
  
  .cons {
    width: 68.5%;
    height: 100%;
    margin-left: 190px;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  
  .space {
    padding-top: 70px;
  }
  .characters {
    margin-left: 190px;
  }
  
  .box {
    margin-right: 50px;
  }
  
  .Bcolor {
    background-color: #ececec;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    width: 450px;
    height: 45px;
  }
  
  .boxs {
    padding-top: 2px;
    margin-left: 25px;
  }
  
  .box1 {
    margin-right: 45px;
  }
  @media screen and (max-width: 1280px) {
    .navbar-expand-lg .navbar-nav {
      margin-left: 50px;
    }
  }
  @media screen and (max-width: 1199px) {
    .icon {
      margin-left: 137px;
      margin-top: 20px;
    }
    .icon1 {
      margin-left: 130px;
      margin-top: 20px;
    }
    .icon2 {
      margin-left: 137px;
      margin-top: 20px;
    }
    .btn3 {
      width: 130px;
    }
  }
  @media screen and (max-width: 768px) {
    .contain {
      height: 650px;
    }
    .head {
      width: 600px;
      margin-left: 30px;
      margin-top: 30px;
    }
    .cons {
      width: 600px;
      margin-left: 30px;
    }
    .icon {
      margin-left: 240px;
      margin-top: 2px;
    }
    .icon1 {
      margin-left: 228px;
      margin-top: 2px;
    }
    .icon2 {
      margin-left: 240px;
      margin-top: 2px;
    }
    .Bcolor {
      width: 320px;
    }
    .btn3 {
      width: 100px;
      border-radius: 5px;
      font-size: 20px;
    }
    .characters {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 767px) {
    .contain {
      height: 730px;
    }
    .head {
      width: 500px;
      margin-left: -5px;
      margin-top: 30px;
    }
    .cons {
      width: 500px;
      margin-left: -5px;
    }
    .icon {
      margin-left: 110px;
      margin-top: 20px;
    }
    .icon1 {
      margin-left: 102px;
      margin-top: 20px;
    }
    .icon2 {
      margin-left: 110px;
      margin-top: 20px;
    }
    .Bcolor {
      width: 320px;
    }
    .btn3 {
      width: 100px;
      border-radius: 5px;
      font-size: 20px;
    }
    .characters {
      margin-left: -10px;
      font-size: 13px;
    }
  }
  @media screen and (max-width: 575px) {
    .contain {
      width: 550px;
    }
  }
  @media screen and (max-width: 375px) {
    .contain {
      width: 370px;
      height: 700px;
    }
    .head {
      width: 300px;
      margin-left: 10px;
      margin-top: 30px;
    }
    .cons {
      width: 300px;
      margin-left: 10px;
    }
    .box {
      margin-top: -30px !important;
      margin-left: 50px !important;
    }
    .box1 {
      margin-left: 50px !important;
    }
    .Bcolor {
      width: 250px;
    }
    .icon {
      margin-left: 100px;
      margin-top: 10px;
    }
    .icon1 {
      margin-left: 90px;
      margin-top: 10px;
    }
    .icon2 {
      margin-left: 100px;
      margin-top: 20px;
    }
    .characters {
      margin-left: -10px;
      font-size: 10px;
    }
    .btn3 {
      width: 60px;
      font-size: 13px;
      margin-left: 37px;
      margin-right: 35px;
      border-radius: 10px;
    }
    .searchbar {
      width: 300px;
    }
  }
  