* body {
  background-color: #00c2d6;
  background-image: url("/image/sad.png");
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-box {
  width: 500px;
  border-style: outset;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
}
.navbar-expand-lg {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 17px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.d-flex {
  position: relative;
  left: 20px;
}
.message {
  text-align: center;
  
}
.account {
  text-align: center;
  text-indent: -15px;
  
  width: 250px;
}
.about {
  text-indent: 20px;
}
.account-drop {
  text-align: center;
  background-color: #372732;
  width: 250px;
}
.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}
.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search:hover {
  color: #554350 !important;
}
.image {
  position: relative;
  left: -10px;
}
.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.container {
  min-height: 150vh;
  border-radius: 20px;
}
.banner {
  background-color: #00c2d6;
  min-height: 30vh;
}
.company2 {
  height: 70px;
  background-color: #ececec;
  border-radius: 15px;
  background: rgba(0, 194, 214, 0.5);
}
.company1 {
  background-color: #ececec;
  min-height: 60px;
  border-radius: 15px;
}
.company3 {
  background-color: #ececec;
  min-height: 10px;
  border-radius: 23px;
}
hr {
  border: 1px solid black;
}
.sec2 {
  background-color: #ececec;
  height: 206px;
}
.div3 {
  background-color: rgba(0, 194, 214, 0.5);
}
.bi-person-circle {
  font-size: 170px;
}
.btn1 {
  height: 40px;
  width: 160px;
  border-radius: 10px;
  position: relative;
  top: 140px;
  border: 0;
}
.btn2 {
  height: 40px;
  width: 160px;
  border-radius: 10px;
  position: relative;
  top: 140px;
  background-color: #00c2d6;
  border: 0;
}
.div1 {
  padding: 1px;
  background: #00c2d6;
  margin-right: 20px;
  font-size: 40px;
}
.div4 {
  background-color: rgba(0, 194, 214, 0.5);
  height: 70px;
}
.bi-person-circle {
  margin-top: -40px;
  width: 170px;
  height: 170px;
}
.info {
  margin-top: 50px;
}
.div2 {
  margin-top: -130px;
}
.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 700px) {
  .bi-pencil-square {
    font-size: 40px;
    width: 100%;
  }
  .bi-person-circle {
    font-size: 100px;
    width: 100%;
  }
}
@media screen and (max-height: 880px) {
  .btn1 {
    position: relative;
    top: 110px;
  }
  .btn2 {
    position: relative;
    top: 110px;
  }
}
@media screen and (max-width: 990px) {
  .btn1 {
    position: relative;
    left: 50px;
  }
  .btn2 {
    position: relative;
    left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .btn1 {
    position: relative;
    top: 60px;
    left: 50px;
  }
  .btn2 {
    position: relative;
    top: 60px;
    left: 50px;
  }
  .bi-person-circle {
    font-size: 100px;
    width: 100%;
  }
  .info {
    position: relative;
    bottom: 50px;
    right: 40px;
    width: 90%;
  }
  #banner {
    width: 100%;
  }
}
#company-container {
  min-height: 30vh;
}
#inner-section {
  color: black;
}
.menudrop {
  background-color: #8b8383;
}
@media screen and (max-width: 1000px) {
  #company-container {
    height: 100%;
  }
  #inner-section {
    align-self: center;
    width: 100%;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 10px 10px 10px 10px;
  height: auto;
}
.row {
  margin-top: 60px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.company_logo{
  width: 11rem;
  height: 11rem;
  border-radius: 120px;
  object-fit: cover;
}

.fa-pen-to-square{
  font-size: 40px;
  background-color: #00c2d6;
}