@media screen and (max-width:1280px) {
    .input-group{
      margin-left: 700px;
    }
    .pagination {
      margin-left: 370px;
    }
  }
  @media screen and (max-width:992px){
    .icon {
      width: 200px;
    }
  .search1 {
    width: 38px;
    }
    .input-group{
      margin-left: 550px;
    }
    .pagination {
      margin-left: 290px;
    }
    .entries{
      margin-left: -700px;
      }
  }
  @media screen and (max-width:768px) {
    .input-group{
      margin-left: 300px;
    }
    .pagination {
      margin-left: 370px;
    }
    .search1 {
      margin-right: 30px;
    }
  .pagination {
    margin-left: 180px;
    }
  .entries{
    margin-left: -480px;
    }
  #button {
    top: -10px;
    margin-right: 10px;
    }
  .ms-auto {
    margin-left: 500px !important;
    }
  .about {
    margin-left: 70px;
    }
  .message {
    margin-left: 40px;
    }
    .logout {
      width: 110px;
    }
  }
  @media screen and (max-width:576px){
    .input-group{
      margin-top: 20px;
      margin-left: 80px;
    }
    .column{
      margin-top: 30px;
    }
    p{
      margin-top: -50px;
    }
    .ms-auto {
     margin-left: 350px !important;
    }
    .pagination {
      margin-left: 250px;
      }
    .entries{
      margin-left: -300px;
      }
  }
  @media screen and (max-width:375px) {
    .icon {
      width: 260px;
  }
  #form1 {
    width: 250px;
  }
  .input-group{
    margin-left: 25px;
    padding-top: 30px;
  }
  .column{
    margin-top: 40px;
  }
  p {
    margin-top: -70px;
  }
  #button {
    top: -10px;
    margin-right: -150px;
    font-size: 13px;
    width: 110px;
    height: 40px;
  }
  .pagination {
    margin-left: 245px;
    }
  .entries{
    margin-left: -130px;
    }
    .ms-auto {
      margin-left: 140px !important;
  }
  .account-drop {
    margin-left: -40px;
  }
  }