/* ------------------- Elements -------------------- */
body {
  background-color:var(--page);
  background-image: url("/image/sad.png");
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------------- IDs ------------------------- */
#container {
  background: #e3ecf9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  padding-bottom: 20px;
  color: #372732;
  border-radius: 20px;
}

#main-form {
  background: transparent;
  padding: 30px 0 30px 0;
}
#title-sub {
  background: #00D7E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#body-h{
  background: #ECECEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------- Classes --------------------- */

.bg-header {
  padding: 15px;
  background: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  color: var(--primary);
}

.search-box {
  width: 500px;
  border-style: outset;
}

.d-flex {
  position: relative;
  left: 20px;
}
.message {
  text-align: center;
}

.about {
  text-indent: 20px;
}

.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}
.search {
  background: #00d7e2;
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search:hover {
  color: #554350 !important;
}
.image {
  position: relative;
  left: -10px;
}
.bi-person-fill::before {
  margin-left: 30px;
}
.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon1 {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-left: 1150px;
  margin-top: -40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search1 {
  background: #00d7e2;
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 1500px;
  margin-top: -82px;
}

.menudrop {
  background-color: #8b8383;
}

.btn-info {
  margin-top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #372732;
  background: #00D7E2;
  border: 2px solid #00D7E2;
  border-radius: 10px;
}

.btn-info:hover {
  background-color: #50677b;
  color: white;
  border: 0;
}

.form-control {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-auto {
  width: inherit;
  background-color: var(--mast);
}

tr {
  height: 6rem;
  border: 5px solid var(--border) !important;
  box-shadow: none;
  line-height: 70px;
}
.modal-body {
  margin-left: 170px;
}
.btn1 {
  width: 70px;
}
.entries {
  margin-left: 40px;
  margin-top: 20px;
  color: var(--primary);
}
.pagination {
  margin-left: 690px;
  margin-top: -20px;
}
.num{
  background: var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.next{
  background: var(--secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #00D7E2;
  color: var(--primary) !important;
}
