* body {
    background: #ECECEC;
    background-image: url('/image/sad.png');
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-box {
    width: 500px;
    border-style: outset;
}

.btn-outline {
    background-color: #00C2D6;
}

.navbar-light {
    background-color: #00D7E2 !important;
}

.navbar-expand-lg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 17px;
    width: 100%;
}

.btn-outline-secondary {
    background-color: #00C2D6;
    color: white;
    border: #00C2D6;
    border-style: outset;
}

.d-flex {
    position: relative;
    left: 20px;
}

.nav-link {
    border-radius: 10px;
    width: 150px;
}

.message {
    text-align: center;

}

.account {
    text-align: center;
    text-indent: -15px;

    width: 250px;
}

.about {
    text-indent: 20px;
}

.account-drop {
    text-align: center;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
}

.menudrop {
    background-color: #8B8383;
}

.nav-item .dropdown-item:hover {
    background-color: #8B8383;
}

.icon {
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search {
    background-color: #00C2D6;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search:hover {
    color: #554350 !important;
}

.para {
    background-color: #FFFFFF;
}

.para2 {
    background-color: #FFFFFF;
}

.position {
    margin-left: 400px;
}

.page-footer {
    background-color: #FDF6EC;
}

h1 {
    position: absolute;
    width: 954px;
    height: 74px;
    left: -0px;
    top: -73px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    font-size: 25px;
    line-height: 70px;
    color: #FFFFFF;
    background: #00C2D6;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #372732;
    margin-left: 220px;
}

.menudrop {
    background-color: #8B8383;
}

.container {
    position: relative;
    width: 900px;
    height: 1600px;
    left: 10px;
    top: 70px;
    background: linear-gradient(to right, rgba(0, 194, 214, 0.5) 0%, rgba(0, 194, 214, 0.5) 24%, white 24%, white 100%);
}

.container input {
    width: 450px;
    height: 39px;
    left: 477px;
    top: 686px;
    background: #ECECEC;
    margin-left: 100px;
}

#exampleFormControlTextarea1 {
    width: 450px;
    height: 174px;
    left: 477px;
    top: 686px;
}

#SAVE-NOW {
    border-radius: 10px;
    background-color: #00C2D6;
    border: 0;
    width: 250px;
    height: 45px;
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: black;

}

#SAVE-NOW:hover {
    background-color: #50677B;
    color: white;
}

input[type=file]::file-selector-button {

    background-color: #00C2D6;
    color: black;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 70%;
    margin-bottom: 15px;
    margin-left: 100px;
}

.icons {
    padding: 10px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
}

.icons1 {
    position: absolute;
    top: 1370px;
    left: 390px;
    padding: 10px;
    background: black;
    color: white;
    height: 39px;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 50%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.i-search {
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descrip {
    width: 72%;
    background: #ECECEC;
    margin-left: 100px;
}

.div1 {
    background: #50677B;
    border-radius: 10px;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-right: 20px;
    width: 450px;
    margin-left: 100px;
}

.smlogo {
    margin-left: 130px;
}

.arrow {
    position: absolute;
    margin-top: -73px;
    margin-left: -100px !important;
    width: 70px;
    height: 50px;
}

.flat6 {
    width: 30px;
}

.bi-person-fill::before {
    content: "\f4da";
    margin-left: 27px;
    margin-right: 5px;
}

.l1 {
    margin-left: 10px;
    margin-right: 5px;
}

.Eprofile {
    color: #00D7E2 !important;
}

@media screen and (max-width: 1280px) {
    .arrow {
        margin-top: -73px;
        margin-left: -100px !important;
    }

}
@media screen and (max-width: 768px) {
    .arrow {
        margin-top: -73px;
        margin-left: -90px !important;
    }
    .container{
        height: 1700px !important;
        width: 650px;
        margin-left: 80px;
    }
    .navbar-nav {
        margin-left: 590px !important;
    }
    #navbarDropdown{
        margin-left:  -50px;
    }
    .drop{
        margin-left: -100px;
    }
    h2{
        font-size: 20px;
        margin-left: 180px;
    }
    .form-control{
        width: 350px !important;
    }
    .c1{
        margin-left: -10px !important;
    }
    .icons1{
        margin-left: -100px;
        margin-top: 115px;
    }
    .div1{
        width: 350px;
    }
    .smlogo{
        margin-left: 80px;
    }
    .searches{
        margin-right: 15px;
    }

}

@media screen and (max-width: 700px) {
    .container{
        height: 1750px !important;
    }
    .drop{
        margin-left: -90px;
    }
    h2{
        font-size: 18px;
        margin-left: 180px;
    }
    .form-control{
        width: 280px !important;
    }
    .icons1{
        margin-left: -185px;
        margin-top: 138px;
    }
    .div1{
        width: 280px;
    }
    .smlogo{
        margin-left: 45px;
    }
    .icon{
        width: 300px !important;
    }
    .searches{
        margin-right: 15px;
    }
    .input-container{
        margin-left: 30px;
    }

}
@media screen and (max-width: 670px) {
    .arrow {
        width: 50px;
        margin-top: -73px;
        margin-left: -70px !important;
    }
    .flat6{
        width: 25px;
    }
    .container{
        height: 1750px !important;
        width: 650px;
        margin-left: 60px;
    }
    .navbar-nav {
        margin-left: 480px !important;
    }
    #navbarDropdown{
        margin-left:  -50px;
    }
    .drop{
        margin-left: -110px;
    }
    .form-control{
        width: 280px !important;
    }
    .c1{
        margin-left: -10px !important;
    }
    .col-form-label{
        margin-left: -20px;
    }
    h2{
        margin-left: 150px;
    }
    .icons1{
        margin-top: 139.5px;
        margin-left: -208px;
    }
    .submits{
        margin-left: 150px !important;
        width: 200px !important;
    }
}
@media screen and (max-width: 375px) {
    .arrow {
        width: 50px;
        margin-top: -130px;
        margin-left: -10px !important;
    }
    .flat6{
        width: 25px;
    }
    .container{
        height: 1940px !important;
        width: 363px;
        margin-left: -5px;
        margin-top: 20px;
        background: linear-gradient(to right, rgba(0, 194, 214, 0.5) 0%, rgba(0, 194, 214, 0.5) 10%, white 10%, white 100%);
    }
    .navbar-nav {
        margin-left: 200px !important;
    }
    #navbarDropdown{
        margin-left:  -50px;
    }
    .drop{
        margin-left: -110px;
    }
    .form-control{
        width: 250px !important;
    }
    .c1{
        margin-left: -70px !important;
    }
    #l1, #l2,#l7{
        margin-left: 85px;
    }
    #l3,#l4{
        margin-left: 90px;
    }
    #l5{
        margin-left: 75px;
    }
    #l6,#l10,#l11,#l12{
        margin-left: 100px;
    }
    #l8{
        margin-left: 125px;
    }
    #l9{
        margin-left: 80px;
    }
    #l13{
        margin-left: 30px;
    }
    .input-field{
        width: 150px !important;
    }
    .input-container{
        margin-left: 50px;
    }
    h1{
        font-size: 20px !important;
    }
    h2{
        margin-left: 50px;
    }
    .icons1{
        margin-top: 328px;
        margin-left: -311px;
    }
    .submits{
        margin-left: 50px !important;
        width: 130px !important;
        font-size: 10px !important;
    }
    .div1{
        width: 250px;
        height: 150px;
    }
    .smlogo{
        margin-top: -25px;
        margin-left: 50px;
        width: 150px;
    }
}