body {
    background-color: var(--page);
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
  }    

.btn-outline {
    background-color: #00c2d6;
}

  .btn-outline-secondary {
    background-color: #00c2d6;
    color: white;
    border: #00c2d6;
    border-style: outset;
  }
  .d-flex {
    position: relative;
    left: 20px;
  }
  .message {
    text-align: center;
    
  }
  .account {
    text-align: center;
    font-weight: 500;
    width: 250px;
  }
  .account-drop {
    text-align: center;
    background-color: #372732;
    width: 250px;
  }
  .dropdown-item{
    padding-left: 10px;
    text-align: start !important;
    color:black !important;
  }
  
  .dropdown-menu{
    background-color:#ECECEC;
    border-color: none;
  }
  .dropdown-menu.show{
    line-height: 30px;
    box-shadow: 1px 1px 5px;
    border-radius: 15px;
    border: none;
    align-items: flex-start !important;
  }
  .ic{
    margin-right: 10px;
  }
.search {
    background-color: #00C2D6;
    font-weight: 500;
    width: 50px;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search:hover {
    color: #554350 !important;
}

.para {
    background-color: #FFFFFF;
}

.para2 {
    background-color: #FFFFFF;
}

.position {
    margin-left: 400px;
}

.page-footer {
    background-color: #FDF6EC;
}

h1 {
    position: absolute;
    width: 954px;
    height: 74px;
    left: -0px;
    top: -73px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    font-size: 25px;
    line-height: 70px;
    color: #FFFFFF;
    background: #00C2D6;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: var(--primary) !important;  
    margin-left: 220px;
}
.mt-4 {
    color: var(--primary) !important;
}
.mt-5 {
    color: var(--primary) !important;
}

.menudrop {
    background-color: #8B8383;
}

.container {
    position: relative;
    width: 900px;
    height: 1600px;
    left: 10px;
    top: 70px;
    background: linear-gradient(to right, var(--bg) 0%, var(--bg) 24%, var(--mast) 24%, var(--mast) 100%);
}
.col-form-label {
    color: var(--text);
}

.container input {
    width: 450px;
    height: 39px;
    left: 477px;
    top: 686px;
    background: #ECECEC;
    margin-left: 100px;
}

#exampleFormControlTextarea1 {
    width: 450px;
    height: 174px;
    left: 477px;
    top: 686px;
}

#SAVE-NOW {
    border-radius: 10px;
    background-color: var(--secondary);
    border: 2px solid #00D7E2;
    width: 250px;
    height: 45px;
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary);

}

#SAVE-NOW:hover {
    background-color: #50677B;
    color: white;
}

input[type=file]::file-selector-button {

    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid #00D7E2;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 70%;
    margin-bottom: 15px;
    margin-left: 100px;
}

.icons {
    padding: 10px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
}

.icons1 {
    position: absolute;
    top: 1370px;
    left: 390px;
    padding: 10px;
    background: black;
    color: white;
    height: 39px;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 50%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.i-search {
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descrip {
    width: 72%;
    background: #ECECEC;
    margin-left: 100px;
}

.div1 {
    background: #ECECEC;
    border-radius: 10px;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 20px;
    width: 450px;
    margin-left: 100px;
}

.smlogo {
    margin-left: 130px;
    background-color: #ffffff;
}

.arrow {
    position: absolute;
    margin-top: -73px;
    margin-left: -100px !important;
    width: 70px;
    height: 50px;
}

.flat6 {
    width: 30px;
}

.bi-person-fill::before {
    content: "\f4da";
    margin-left: 27px;
    margin-right: 5px;
}

.l1 {
    margin-left: 10px;
    margin-right: 5px;
}

.Eprofile {
    color: #00D7E2 !important;
}