html{
  --bg:#ECECEC;
  --bg-navbar:#00c2d6;
  --text-color:black;
  --bg-sidebar:#00c2d6;
  --bg-container: white;
  --sidebar-hover: white;
  --text-color1:black;
  --sidebar-hover:white;
  --hover-text: #00c2d6;
}
:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
html[data-theme='dark']{
  --bg:#1a2b35;
  --bg-navbar:#182531;
  --text-color:#00c2d6;
  --bg-sidebar:#182531;
  --bg-container: #334553;
  --text-color1:white;
  --sidebar-hover:#00D7E2;
  --hover-text: black; 
}
body {
  background: var(--bg);
  font-family: sans-serif;
}
.search-box {
  width: 500px;
  border-style: outset;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: var(--bg-navbar);
  margin: 0%;
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
  margin-left: 5px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu {
  background: #372732;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  border-radius: 10px;
  margin-right: 15px;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: -12px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #372732;
}
.dropdown{
  color: var(--text-color);
}
.dropdown-menu li img {
  width: 30px;
  height: 30px;
}
.dropdown-menu li i {
  font-size: 20px;
  margin-right: 20px;
}
.dropdown-menu li .fa-user-pen {
  margin-right: 15px;
}
.dropdown-item:hover {
  background-color: #50677b;
  color: white;
}
hr {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
.btn-dropdown {
  color: var(--text-color);
  border: 0;
  background-color: transparent;
}
.col-sm-2{
  color:var(--text-color);
}
.fa-caret-down {
  font-size: 25px;
}
.pfp {
  width: 50px;
  height: 50px;
}
.sidebar .menu .item .sub-menu a {
  padding-left: 100px;
}
.sidebar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 5px;
  transition: 0.1s ease;
}
.sub-menu {
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
#menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #372732;
}
#title-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #372732;
}
#btn-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 25px;
  height: 35px;
  color: white;
}
.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bi-person-circle {
  font-size: 30px;
}

.sidebar {
  margin: 0;
  padding-top: 55px;
  width: 340px;
  background-color: var(--bg-sidebar);
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
#btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
#list-icon {
  margin-left: 280px;
}
.edit-change {
  width: 200px;
  height: 260px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
  margin-left: 100px;
  margin-top: 150px;
}
.highlight {
  background-color: var(--sidebar-hover);
  color: var(--hover-text) !important;
}
.edit-profile {
  background: #00c2d6;
  border: 0;
  border-radius: 13px;
}
.change-password {
  background: #00c2d6;
  border: 0;
  border-radius: 13px;
}
.container-fluid {
  background-color: var(--bg-container);
  margin-left: 370px;
  padding: 0%;
  width: 79%;
  height: 100%;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image {
  width: 170px;
  height: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 120px;
}

.file {
  border-radius: 10px;
  width: 100%;
  background: #ececec;
}
input[type="file"]::file-selector-button {
  background-color: #00c2d6;
  color: black;
}
.form-control {
  background: #ececec;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.save-change {
  background: var(--bg-sidebar);
  border-radius: 15px;
  border: 3px solid#00c2d6;
  width: 217px;
  height: 47px;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}
.save-change:hover {
  background-color: var(--bg-sidebar);
  color: white;
}
.delete {
  margin-left: 170px;
}
.yes-no {
  width: 70px;
}
.sidebar a {
  display: block;
  color: var(--text-color);
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.container-responsive {
  width: 1450px;
  height: 800px;
  margin-left: 390px;
  background: #fdf6ec;
}
.header-text {
  font-size: 22px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
}
label{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
}
.sub-display{
  display: block;
}
.highlight{
  background-color: var(--sidebar-hover);
}
.sidebar {
  height: 100%;
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-sidebar);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 72px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.closebtn{
  color: var(--text-color);
}
.sidebar a:hover {
  color: var(--sidebar-hover);
}
.sidebar a:hover:not(.active) {
  background-color: var(--sidebar-hover);
  color: black;
}
.sidebar .closebtn {
  font-size: 36px;
  margin-left: 270px;
  margin-bottom: 35px;
}
.sidebar .closebtn:hover {
  background-color: transparent !important;
}

.openbtn {
  position: absolute;
  top: 70px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  padding: 5px 20px;
  border: none;
}

.openbtn:hover {
  background-color: #91effa;
}

#main {
  transition: margin-left 0.5s;
}
.me-3 {
  width: 30px;
  height: 30px;
}
.div1 {
  background-color: #00c2d6;
  margin-right: 150px;
  width: 100%;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 20px 20px 0 0;
  color: black;
  font-size: 24px;
  line-height: 50px;
}
.toggle-switch {
  right: 10px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
  bottom: 40px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
@media screen and (max-width: 1280px){
  .container-fluid{
    position:relative;
    top: 20px;
    margin-left: 80px !important;
    width: 90%;

  }
  .sidebar{
    margin-top: 50px;
    width: 340px;
    left: -100%;

  }
  .closebtn{
    position: absolute;
    right: 0;
    margin-top: -50px;
  }
}
@media screen and (max-width: 580px){
  .logo{
    position: relative;
    right:30px;
  }
  .header-text{
    font-size: 20px;
    position:relative;
    right:70px;
  }
  .dropdown{
    position: relative;
    bottom: 50px;
  }
  .admin-name{
    display: none;
  } .closebtn{
    position: absolute;
    right: 0;
    margin-top: -50px;
  }
}
@media screen and (max-width: 770px) {
  .sidebar {
    width: 340px;
    left: -100%;
    padding-top: 80px;
    height: 100%;
    position: fixed;
  }
  .openbtn:active .sidebar{
    left: 0%;
  }
  .openbtn:after .container-fluid{
    margin-left: 500px;
  }
  .justify-content-center{
    margin: 20px;
  }
}
@media screen and (max-width: 770px) {
  .navbar-expand-lg {
    width: 100%;
  }
  .position-relative {
    width: 100%;
    margin-left: 170px;
    margin-top: -70px;
  }
  .container-responsive {
    height: auto;
    width: 100%;
    margin-left: -100px !important;
  }
  .edit-section {
    width: 100%;
  }.container-fluid{
    right: left;
    margin:40px !important;
    margin-top: 70px;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .sidebar a {
    float: none;
    
  }
  .container-fluid{
    margin: 20px !important;
    margin-top: 40px !important;
  }
}

