:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

html{
  --bg:#ECECEC;
  --bg-navbar:#00D7E2; /**#00c2d6**/
  --text-color:black;
  --bg-sidebar:#00D7E2; /**#00c2d6**/
  --bg-container: white;
  --sidebar-hover: white;
  --text-color1:black;
  --sidebar-hover:white;
  --hover-text: #00D7E2; /**#00c2d6**/
}

html[data-theme='dark']{
  --bg:#293f53;
  --bg-navbar:#182531;
  --text-color:#00D7E2; /**#00c2d6**/
  --bg-sidebar:#182531;
  --bg-container: #203242;
  --text-color1:white;
  --sidebar-hover:#00D7E2; /**#00c2d6**/
  --hover-text: black; 
}

/* ------------------------ Elements --------------------------- */
body {
  background: var(--bg);
  font-family: sans-serif;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

label{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 17px;
}

/* ------------------------- IDs ------------------------------- */
#menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #372732;
}
#title-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #372732;
}
#btn-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 25px;
  height: 35px;
  color: white;
}

#btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
#list-icon {
  margin-left: 280px;
}

#main {
  transition: margin-left 0.5s;
}

/* ------------------------------- Classes ------------------------------ */
.container-fluid {
    background-color: var(--bg-container);
    margin-left: 370px;
    padding: 0%;
    width: 79%;
    height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-box {
    width: 500px;
    border-style: outset;
}

.btn-outline {
    background-color: #00D7E2; /**#00c2d6**/
}

.btn-dropdown {
    color: var(--text-color);
    border: 0;
    background-color: transparent;
}

/* Bad practice to use bootstrap classes to design a css */
.col-sm-2{
    color:var(--text-color);
}

/* In question */
.image {
    width: 170px;
    height: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 120px;
}
  
/* In question */       
.file {
    border-radius: 10px;
    width: 100%;
    background: #ececec;
}

.form-control {
    background: #ececec;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.save-change {
    background: var(--bg-sidebar);
    border-radius: 15px;
    border: 3px solid var(--secondary); /**#00c2d6**/;
    width: 217px;
    height: 47px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}
  .save-change:hover {
    background-color: var(--bg-sidebar);
    color: white;
  }

  .yes-no {
    width: 70px;
  }



  .sub-display{
    display: block;
  }
  .highlight{
    background-color: var(--sidebar-hover);
  }

  .openbtn {
    position: absolute;
    top: 70px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    padding: 5px 20px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #91effa;
  }

  /* Note: Uses h3 element but the design has "font size" */
  .div1 {
    background-color: var(--secondary); /**#00c2d6**/;
    margin-right: 150px;
    width: 100%;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
    color: black;
    font-size: 24px;
    line-height: 50px;
  }
  
  /* -------------------- Dark - Light Mode Switch Design --------------------- */
  .toggle-switch {
    right: -5px;
    align-self: flex-end;
    float: right;
    height: 35px;
    margin-top: 20px;
    position: absolute;
    width: 75px;
  }
  
  /* Unclear referenece naming */
  .lab {
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .dar {
    position: absolute;
    display: none;
  }

  .dar:checked ~ .slider {
    background-color: var(--light);
  }

  .dar:checked ~ .slider::before {
    transform: translateX(40px);
    background-color: var(--dark);
    box-shadow: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 8px -8px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }

