body {
  background: #00c2d6;
  font-family: sans-serif;
}
.search-box {
  width: 500px;
  border-style: outset;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
  margin: 0%;
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
  margin-left: 5px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu {
  background: #372732;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  border-radius: 10px;
  margin-right: 15px;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: -12px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #372732;
}
.dropdown-menu li img {
  width: 30px;
  height: 30px;
}
.dropdown-menu li i {
  font-size: 20px;
  margin-right: 20px;
}
.dropdown-menu li .fa-user-pen {
  margin-right: 15px;
}
.dropdown-item:hover {
  background-color: #50677b;
  color: white;
}
hr {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
.btn-dropdown {
  border: 0;
  background-color: transparent;
}
.fa-caret-down {
  font-size: 25px;
}
.pfp {
  width: 50px;
  height: 50px;
  border-radius: 120px;
}
.sidebar .menu .item .sub-menu a {
  padding-left: 100px;
}
.sidebar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 5px;
  transition: 0.1s ease;
}
.sub-menu {
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
#menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #372732;
}
#title-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #372732;
}
#btn-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 25px;
  height: 35px;
  color: white;
}
.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bi-person-circle {
  font-size: 30px;
}

.sidebar {
  margin: 0;
  padding-top: 55px;
  width: 340px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
#list-icon {
  margin-left: 280px;
}
.edit-change {
  width: 200px;
  height: 260px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
  margin-left: 100px;
  margin-top: 150px;
}
.highlight {
  background-color: #00c2d6;
}
.edit-profile {
  background: #00c2d6;
  border: 0;
  border-radius: 13px;
}
.change-password {
  background: #00c2d6;
  border: 0;
  border-radius: 13px;
}
.container {
  width: 900px;
  height: 600px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image {
  width: 170px;
  height: 170px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 120px;
}
.profile-picture {
  margin-left: 60px;
}
.file {
  margin-left: 62px;
  border-radius: 10px;
  width: 450px;
  background: #ececec;
}
input[type="file"]::file-selector-button {
  background-color: #00c2d6;
  color: black;
}
.form-control {
  background: #ececec;
  border-radius: 10px;
}
.save-change {
  background: #00c2d6;
  border-radius: 15px;
  border: 0;
  width: 200px;
  height: 47px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}
.save-change:hover {
  background-color: #50677b;
  color: white;
}
.delete {
  margin-left: 170px;
}
.yes-no {
  width: 70px;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.container-responsive {
  width: 1450px;
  height: 800px;
  margin-left: 390px;
  background: #fdf6ec;
}
.position-relative {
  font-size: 22px;
  color: #372732;
  margin-left: 700px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  #list-icon {
    font-size: 50px;
    width: 100%;
    margin-left: 600px !important;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 700px) {
  .navbar-expand-lg {
    width: 100%;
  }
  .position-relative {
    width: 100%;
    margin-left: 170px;
    margin-top: -70px;
  }
  .container-responsive {
    height: auto;
    width: 100%;
    margin-left: -100px !important;
  }
  .edit-section {
    width: 100%;
  }
}
.sidebar {
  height: 100%;
  width: 340;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 72px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  font-size: 36px;
  margin-left: 270px;
  margin-bottom: 35px;
}
.sidebar .closebtn:hover {
  background-color: transparent !important;
}

.openbtn {
  position: absolute;
  top: 70px;
  font-size: 20px;
  cursor: pointer;
  background-color: #00c2d6;
  color: black;
  padding: 5px 20px;
  border: none;
}

.openbtn:hover {
  background-color: #91effa;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.me-3 {
  width: 30px;
  height: 30px;
}
