:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
html{
  --bg:#ECECEC;
  --bg-navbar:#00c2d6;
  --text-color:black;
  --bg-sidebar:#00c2d6;
  --bg-container: white;
  --text-color1:black;
  --sidebar-hover:white;
  --hover-text: #00c2d6;
}
html[data-theme='dark']{
  --bg:#1a2b35;
  --bg-navbar:#182531;
  --text-color:#00c2d6;
  --bg-sidebar:#182531;
  --bg-container: #334553;
  --text-color1:white;
  --sidebar-hover:#00D7E2;
  --hover-text: black; 
}

/* ---------------- Elements ---------------------------- */
body {
  background: var(--bg);
  font-family: sans-serif;
}

hr {
  border: 2px solid #FFFFFF;
  background-color: #ffffff;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: black;
}

h6 {
  margin-right: 10px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

p {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  background: #ECECEC;
}

/* ------------------------ IDs ------------------------- */
#menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #372732;
}

#title-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #372732;
}

#btn-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 25px;
  height: 35px;
  color: white;
}

#list-icon {
  margin-left: 280px;
}

#space1 {
  background: #fdf6ec;
  width: 30px;
}

#registered-employer {
  box-shadow: 1px 2px 8px;
  border-radius: 24px;
  background: var(--bg-container);
}

#registered-jobseekers {
  box-shadow: 1px 2px 8px;
  border-radius: 24px;
  background: var(--bg-container);
}

#numberofjobs {
  box-shadow: 1px 2px 8px;
  border-radius: 24px;
  background: white;
}

#numberofjob-active {
  height: 350px;
  margin-left: 200px;
}

#myChart {
  width: 100%;
  max-width: 600px;
}

#myChart1 {
  width: 100%;
  max-width: 600px;
}

#space2 {
  background: #fdf6ec;
  width: 30px;
}

#active-inactive {
  box-shadow: 1px 2px 8px;
  border-radius: 24px;
  background: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

