html{
  --bg:#ECECEC;
  --bg-navbar:#00c2d6;
  --text-color:black;
  --bg-sidebar:#00c2d6;
  --bg-container: white;
  --sidebar-hover: white;
  --text-color1:black;
  --sidebar-hover:white;
  --hover-text: #00c2d6;
}
:root {
  --page:#ffffff;
  --mast: #ececec;
  --primary: #ffffff;
  --secondary: #00D7E2;
  --text: black;
  --text1: black;
  --container:#ffffff;
  --button:#334553;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
html[data-theme='dark']{
  --bg:#1a2b35;
  --bg-navbar:#182531;
  --text-color:#00c2d6;
  --bg-sidebar:#182531;
  --bg-container: #334553;
  --text-color1:white;
  --sidebar-hover:#00D7E2;
  --hover-text: black; 
}
html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  background: var(--bg);
  font-family: sans-serif;
}
.search-box {
  width: 500px;
  border-style: outset;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: var(--bg-navbar);
  margin: 0%;
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
  margin-left: 5px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.account-drop {
  text-align: center;
  position: relative;

  background-color: #372732;
  width: 50px;
}
.nav-item .dropdown-item {
  position: relative;
  width: 150px;
}
.nav-item .dropdown-item:hover {
  background-color: #8b8383;
}
#menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #372732;
}
#title-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #372732;
}
#btn-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 25px;
  height: 35px;
  color: white;
}
.search {
  background-color: #00c2d6;
  font-weight: 500;
  width: 50px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#list-icon {
  margin-left: 280px;
}
.i-search {
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.thead {
  background: #68f0ff;
  text-align:center;
}
.tbody {
  text-align: center;
  line-height: 30px;
}
.tr {
  height: 6rem;
  border: 3px solid var(--text-color);
  box-shadow: none;
}
.btn-success {
  width: 40px;
  border: 0;
}.save{
  width: 120px;
}
.entries {
  margin-top: 200px;
  color: var(--text-color);
}
.pagination {
  margin-left: 500px;
  margin-top: -35px;
}
.delete {
  margin-left: 170px;
}
.yes-no {
  width: 70px;
}
.highlight{
  background-color: var(--sidebar-hover);
}
.btn-add{
  border: 3px solid #00c2d6;
  width: 110px;
  height: 40px;
  background: var(--bg-navbar);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--text-color);
}
.btn-add:hover{
  background-color: #68F0FF;
}
.sidebar {
  margin: 0;
  padding-top: 55px;
  width: 340px;
  background-color: var(--bg-sidebar);
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
#btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
#button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.sidebar a {
  display: block;
  color: var(--text-color);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: var(--sidebar-hover);
}

.sidebar a:hover:not(.active) {
  background-color: var(--sidebar-hover);
  color: var(--hover-text);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.container-responsive {
  width: 1450px;
  height: 1580px;
  margin-left: 390px;
  background-color: var(--bg-container);
}
.position-relative {
  position: relative;
  left: 330px;
  font-size: 22px;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-expand-lg {
  height: 70px;
  width: 100%;
}
td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
.edit-detail{
  background-color: #fdf6ec;
}
.toggle-switch {
  right: 10px;
  align-self: flex-end;
  float: right;
  height: 35px;
  margin-top: 20px;
  position: relative;
  width: 75px;
  top:40px;
}

.lab{
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dar {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.dar:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -8px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}
.dar:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--dark);
  box-shadow: none;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 700px) {
  #list-icon {
    font-size: 50px;
    width: 100%;
    margin-left: 600px !important;
  }
  .position-relative {
    width: 100%;
    margin-left: 170px;
    margin-top: -70px;
  }
  .container-responsive {
    width: 100%;
    margin-left: -10px !important;
  }
  .table-responsive {
    height: auto;
    width: 100%;
  }
  .entries {
    width: 100%;
    margin-top: 90px !important;
    margin-left: 20px !important;
  }
  .pagination {
    font-size: -30px;
    width: 100%;
    margin-left: 220px !important;
  }
}
@media screen and (max-width: 550px) {
  #list-icon {
    font-size: 50px;
    width: 100%;
    margin-left: 400px !important;
  }
}
@media screen and (max-width: 455px) {
  #list-icon {
    font-size: 50px;
    width: 100%;
    margin-left: 200px !important;
  }
}
.bi-person-circle{
  font-size: 30px;
}
.sidebar {
  height: 100%;
  width: 340;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-sidebar);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 72px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {

  font-size: 36px;
  margin-left: 270px;
  margin-bottom: 35px;
}.sidebar .closebtn:hover{
  background-color: transparent !important;
}

.openbtn {
  position: absolute;
  top: 70px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  padding: 5px 20px;
  border: none;
}

.openbtn:hover {
  background-color: #91effa;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.me-3{
  width: 30px;
  height: 30px;
}
.dropdown-menu{
  background: #372732;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  border-radius: 10px;
  margin-right: 15px;
}
.dropdown-menu a{
  color: white;
}
.dropdown-menu:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: -12px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #372732;
}
.dropdown-menu li img{
  width: 30px;
  height: 30px;
}
.dropdown-menu li i{
  font-size: 20px;
  margin-right: 20px;
}
.dropdown-menu li .fa-user-pen{
  margin-right: 15px;
}
.dropdown-item:hover{
  background-color: #50677B ;
  color: white;
}
hr{
  border: 2px solid #FFFFFF;
  background-color: #ffffff;
}
.dropdown h6{
  color: var(--text-color);
}
.btn-dropdown{
  border: 0;
  background-color: transparent;
  color: var(--text-color);
}
.fa-caret-down{
  font-size: 25px;
}
.pfp{
  width: 50px;
  height: 50px;
}
.sidebar .menu .item .sub-menu a{
  padding-left: 100px;
}
.sidebar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 5px;
  transition: 0.1s ease;
}
.sub-menu{
  display: none;
}
.rotate{
  transform: rotate(90deg);
}

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      position: relative;
      height: 100%;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  @media screen and (min-width: 725px) and (max-width: 1200px){
    html,body{
      width: 100%;
      height: 100%;
      margin:0;
      padding: 0;
      overflow-x: hidden;
    }
    .navbar img{
      width: 55px;
      height: 55px;
      margin-left: -35px;
      position: relative;
      bottom: 5px;
    }
    
    .position-relative{
      position: relative;
      left:50px;
    }
    .dropdown{
      position: relative;
      bottom: 10%;
    }
    .dropdown h6{
      margin-top: 10%;
    }
    .dropdown-item img{
      margin-left: 0;
    }
    .dropdown img{
      width: 50px;
      height: 50px;
    }
    .container-responsive {
      width: 97%;
      height: auto;
      margin-left: 10px !important;
      position: relative;
      top: 20px
    }
    .entries {
      width: 100%;
      margin-top: 90px !important;
      margin-left: 230px !important;
    }
    .pagination {
      font-size: -70px !important;
      width: 100%;
      margin-left: 200px !important;
      margin-top:-80px;
    }
  }
  @media screen and (min-width: 1800px){
    html,body{
      width: 100%;
      height: 100%;
      margin:0;
      padding: 0;
      overflow-x: hidden;
    }
    .navbar img{
      width: 80px;
      height: 80px;
    }
    .navbar {
      height: 80px;
    }
    .dropdown img{
      width: 50px;
      height: 50px;
    }
    .container-responsive{
      height: auto;
    }
  }
  @media screen and (max-width: 400px){
    html,body{
      height: 100%;
      width: 100%;
      margin:0;
      padding:0;
      overflow-x: hidden;
    }
    .navbar{
      width: 100%;
    }
    .navbar img{
      width: 50px;
      height: 50px;
      margin-left: -40px;
    }
    .mt-2 img{
      width:0;
      height: 0;
    }
    .form-control{
      width: 150px;
    }
    .position-relative{
      position: relative;
      left:-70px;
      text-align: center;
    }
    .dropdown{
      position: relative;
      top:-40px;
    }
    .dropdown img{
      width:0px;
    }
    .dropdown h6{
      font-size: 0px;
    }
    .dropdown{
      position: relative;
      bottom: 90px;
    }
    .sidebar{
      width:300px;
    }
    .sidebar a{
      text-align: left;
    }
    .sidebar .closebtn{
      position: relative;
      bottom: 40px;
      right: 40px;
    }
    .menu {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: left;
      color: #372732;
    }
    .dropdown-item img{
      margin-left: 0px;
    }
    .container-responsive {
      width: 97%;
      height: auto;
      margin-left: 5px !important;
      position: relative;
      bottom: 800px;
    }
    .entries {
      width: 100%;
      margin-top: 90px !important;
      margin-left: 70px !important;
    }
    .pagination {
      font-size: -70px !important;
      width: 100%;
      margin-left: 35px !important;
      margin-top:-80px;
    }
    .toggle-switch{
      position: relative;
      top:-780px;
    }
  }
  
